<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,98}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{306,275},{114,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{146,128}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{307,1},{146,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,140}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{159,1},{146,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{159,375},{108,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{255,375},{90,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{347,375},{90,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,164}</string>
                <key>textureRect</key>
                <string>{{307,131},{145,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{1,159},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,164}</string>
                <key>textureRect</key>
                <string>{{1,317},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,164}</string>
                <key>textureRect</key>
                <string>{{159,143},{145,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tplist.png</string>
            <key>size</key>
            <string>{454,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4edb5047f3e28b24a6cf41615735e0f7:074a5f1b91d81ca0f1bc3b92b3af580c:85c61dd0bd73affca1524af0f92e72e9$</string>
            <key>textureFileName</key>
            <string>tplist.png</string>
        </dict>
    </dict>
</plist>
