<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,27}</string>
                <key>spriteSourceSize</key>
                <string>{212,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{212,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,27}</string>
                <key>spriteSourceSize</key>
                <string>{185,27}</string>
                <key>textureRect</key>
                <string>{{212,0},{185,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,27}</string>
                <key>spriteSourceSize</key>
                <string>{212,27}</string>
                <key>textureRect</key>
                <string>{{397,0},{212,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,27}</string>
                <key>spriteSourceSize</key>
                <string>{212,27}</string>
                <key>textureRect</key>
                <string>{{609,0},{212,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,27}</string>
                <key>spriteSourceSize</key>
                <string>{165,27}</string>
                <key>textureRect</key>
                <string>{{821,0},{165,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,27}</string>
                <key>spriteSourceSize</key>
                <string>{165,27}</string>
                <key>textureRect</key>
                <string>{{986,0},{165,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,27}</string>
                <key>spriteSourceSize</key>
                <string>{165,27}</string>
                <key>textureRect</key>
                <string>{{1151,0},{165,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,27}</string>
                <key>spriteSourceSize</key>
                <string>{165,27}</string>
                <key>textureRect</key>
                <string>{{1316,0},{165,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>colorbar.png</string>
            <key>size</key>
            <string>{1481,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79f6e599717ad38cf90c78a5468073d5:6ae68071f5a14a91aa2451ad315cf2b7:047b0c0dd5957f6153c6d4f9bfd27c76$</string>
            <key>textureFileName</key>
            <string>colorbar.png</string>
        </dict>
    </dict>
</plist>
