<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,33}</string>
                <key>spriteSourceSize</key>
                <string>{95,33}</string>
                <key>textureRect</key>
                <string>{{171,0},{95,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,79}</string>
                <key>spriteSourceSize</key>
                <string>{194,79}</string>
                <key>textureRect</key>
                <string>{{704,0},{194,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,79}</string>
                <key>spriteSourceSize</key>
                <string>{194,79}</string>
                <key>textureRect</key>
                <string>{{898,0},{194,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_dropped.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,36}</string>
                <key>textureRect</key>
                <string>{{576,0},{128,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_lost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,31}</string>
                <key>spriteSourceSize</key>
                <string>{95,31}</string>
                <key>textureRect</key>
                <string>{{266,0},{95,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_winner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,30}</string>
                <key>spriteSourceSize</key>
                <string>{108,30}</string>
                <key>textureRect</key>
                <string>{{468,0},{108,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>porker_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,119}</string>
                <key>spriteSourceSize</key>
                <string>{91,119}</string>
                <key>textureRect</key>
                <string>{{80,0},{91,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_js.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{705,125}</string>
                <key>spriteSourceSize</key>
                <string>{705,125}</string>
                <key>textureRect</key>
                <string>{{1092,0},{705,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1835,132}</string>
                <key>spriteSourceSize</key>
                <string>{1835,132}</string>
                <key>textureRect</key>
                <string>{{0,262},{1835,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,137}</string>
                <key>spriteSourceSize</key>
                <string>{1700,137}</string>
                <key>textureRect</key>
                <string>{{0,125},{1700,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user_mb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winner_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{361,0},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiesuan.png</string>
            <key>size</key>
            <string>{1835,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:790e5f12a0c0f6b884526fd2c35646a0:fee809d849539da85bf804ed7b84ee2b:656815dd6ca417357113fad23ed2a364$</string>
            <key>textureFileName</key>
            <string>jiesuan.png</string>
        </dict>
    </dict>
</plist>
