<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bp_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,230}</string>
                <key>spriteSourceSize</key>
                <string>{320,230}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_addcash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{320,0},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{406,0},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{0,230},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,89}</string>
                <key>spriteSourceSize</key>
                <string>{221,89}</string>
                <key>textureRect</key>
                <string>{{86,230},{221,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rummy_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,103}</string>
                <key>spriteSourceSize</key>
                <string>{198,103}</string>
                <key>textureRect</key>
                <string>{{307,230},{198,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{0,333},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_wf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{86,333},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,89}</string>
                <key>spriteSourceSize</key>
                <string>{221,89}</string>
                <key>textureRect</key>
                <string>{{172,333},{221,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{393,333},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zz_yellow.9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{438,333},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>more.png</string>
            <key>size</key>
            <string>{505,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad72bf89832b32eb74e10f427cc8f6ef:ae1c33c7bc2df1aaca03e775d85cc465:88f432820d4f3bcce3a1a5d1ae216881$</string>
            <key>textureFileName</key>
            <string>more.png</string>
        </dict>
    </dict>
</plist>
