<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wenzi_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,23}</string>
                <key>spriteSourceSize</key>
                <string>{103,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,23}</string>
                <key>spriteSourceSize</key>
                <string>{61,23}</string>
                <key>textureRect</key>
                <string>{{103,0},{61,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,23}</string>
                <key>spriteSourceSize</key>
                <string>{118,23}</string>
                <key>textureRect</key>
                <string>{{164,0},{118,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rummysettl.png</string>
            <key>size</key>
            <string>{282,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6c01378f3addc6a727102df05c46780:ba470be7c9eefdd35ec23bb59021b7c7:796c472cac6db508492d5661b6246d6b$</string>
            <key>textureFileName</key>
            <string>rummysettl.png</string>
        </dict>
    </dict>
</plist>
