<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon_JP_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,900},{294,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,900},{294,68}}</string>
				<key>sourceSize</key>
				<string>{294,68}</string>
			</dict>
			<key>icon_JP_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,914},{309,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,914},{309,70}}</string>
				<key>sourceSize</key>
				<string>{309,70}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,720},{316,132}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{966,720},{316,132}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,564},{320,130}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1286,564},{320,130}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,2},{320,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1750,2},{320,126}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,594},{320,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{644,594},{320,128}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,724},{320,130}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{642,724},{320,130}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,696},{320,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1286,696},{320,126}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,856},{320,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{642,856},{320,128}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,458},{320,134}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{644,458},{320,134}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,854},{316,130}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,854},{316,130}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,824},{316,132}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1284,824},{316,132}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1744,324},{316,132}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1744,324},{316,132}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,292},{318,132}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1288,292},{318,132}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,310},{316,134}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1608,310},{316,134}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,642},{314,136}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1716,642},{314,136}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,306},{316,138}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{966,306},{316,138}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,154},{318,136}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1288,154},{318,136}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,762},{318,136}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,762},{318,136}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,584},{318,134}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{966,584},{318,134}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,446},{318,136}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{966,446},{318,136}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi1_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,426},{318,136}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1286,426},{318,136}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,154},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,154},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,2},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,2},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,306},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,306},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,154},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,154},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{646,2},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,458},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,458},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,306},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,306},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,154},{320,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{646,154},{320,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,2},{318,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{968,2},{318,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,610},{318,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,610},{318,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,458},{318,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,458},{318,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,306},{318,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{646,306},{318,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,154},{318,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{968,154},{318,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,2},{318,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1288,2},{318,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,762},{318,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,762},{318,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi2_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,610},{318,150}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,610},{318,150}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi3_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,2},{306,140}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1608,2},{306,140}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_jiangchi4_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,628},{300,106}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1608,628},{300,106}}</string>
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>tx_haiwai_mohuandaobao_jiangchi1.png</string>
			<key>size</key>
			<string>{1878,986}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>tx_haiwai_mohuandaobao_jiangchi1.png</string>
		</dict>
	</dict>
</plist>
