<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>13.jpg</key>
<dict>
<key>frame</key>
<string>{{0,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>352.jpg</key>
<dict>
<key>frame</key>
<string>{{221,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>361.jpg</key>
<dict>
<key>frame</key>
<string>{{0,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>362.jpg</key>
<dict>
<key>frame</key>
<string>{{294,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>363.jpg</key>
<dict>
<key>frame</key>
<string>{{442,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>365.jpg</key>
<dict>
<key>frame</key>
<string>{{0,515},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>366.jpg</key>
<dict>
<key>frame</key>
<string>{{294,515},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>368.jpg</key>
<dict>
<key>frame</key>
<string>{{663,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>369.jpg</key>
<dict>
<key>frame</key>
<string>{{588,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>371.jpg</key>
<dict>
<key>frame</key>
<string>{{588,515},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>410.jpg</key>
<dict>
<key>frame</key>
<string>{{0,736},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>411.jpg</key>
<dict>
<key>frame</key>
<string>{{294,736},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>412.jpg</key>
<dict>
<key>frame</key>
<string>{{588,736},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>413.jpg</key>
<dict>
<key>frame</key>
<string>{{884,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>414.jpg</key>
<dict>
<key>frame</key>
<string>{{882,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>417.jpg</key>
<dict>
<key>frame</key>
<string>{{882,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>415.jpg</key>
<dict>
<key>frame</key>
<string>{{0,957},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>446.jpg</key>
<dict>
<key>frame</key>
<string>{{294,957},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>471.jpg</key>
<dict>
<key>frame</key>
<string>{{588,957},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>472.jpg</key>
<dict>
<key>frame</key>
<string>{{882,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>474.jpg</key>
<dict>
<key>frame</key>
<string>{{1105,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>477.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>510.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>519.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>846.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1178},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>847.jpg</key>
<dict>
<key>frame</key>
<string>{{294,1178},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>861.jpg</key>
<dict>
<key>frame</key>
<string>{{588,1178},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>10.jpg</key>
<dict>
<key>frame</key>
<string>{{882,1176},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>11.jpg</key>
<dict>
<key>frame</key>
<string>{{1326,0},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>12.jpg</key>
<dict>
<key>frame</key>
<string>{{1326,281},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>14.jpg</key>
<dict>
<key>frame</key>
<string>{{1324,562},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>22.jpg</key>
<dict>
<key>frame</key>
<string>{{1324,843},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>21.jpg</key>
<dict>
<key>frame</key>
<string>{{1163,1176},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>23.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1399},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>24.jpg</key>
<dict>
<key>frame</key>
<string>{{281,1399},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>32.jpg</key>
<dict>
<key>frame</key>
<string>{{562,1399},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>25.jpg</key>
<dict>
<key>frame</key>
<string>{{843,1399},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>33.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,1389},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>36.jpg</key>
<dict>
<key>frame</key>
<string>{{1536,281},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>39.jpg</key>
<dict>
<key>frame</key>
<string>{{1539,0},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>40.jpg</key>
<dict>
<key>frame</key>
<string>{{1537,562},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>41.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,1389},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>42.jpg</key>
<dict>
<key>frame</key>
<string>{{1444,1124},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>43.jpg</key>
<dict>
<key>frame</key>
<string>{{562,1608},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>44.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,1599},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>45.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1612},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>46.jpg</key>
<dict>
<key>frame</key>
<string>{{843,1612},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>8.jpg</key>
<dict>
<key>frame</key>
<string>{{1537,843},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>860.jpg</key>
<dict>
<key>frame</key>
<string>{{281,1612},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>871.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,1602},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>872.jpg</key>
<dict>
<key>frame</key>
<string>{{1746,281},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>9.jpg</key>
<dict>
<key>frame</key>
<string>{{1725,1124},{211,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{211,280}}</string>
<key>sourceSize</key>
<string>{211,280}</string>
</dict>
<key>942.png</key>
<dict>
<key>frame</key>
<string>{{1747,0},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>943.png</key>
<dict>
<key>frame</key>
<string>{{1747,562},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>944.png</key>
<dict>
<key>frame</key>
<string>{{1747,843},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>945.png</key>
<dict>
<key>frame</key>
<string>{{1686,1405},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>998.png</key>
<dict>
<key>frame</key>
<string>{{562,1821},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>433.png</key>
<dict>
<key>frame</key>
<string>{{281,1822},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>899.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,1812},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>900.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,1811},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>901.jpg</key>
<dict>
<key>frame</key>
<string>{{1686,1686},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>999.png</key>
<dict>
<key>frame</key>
<string>{{1894,1405},{210,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{210,280}}</string>
<key>sourceSize</key>
<string>{210,280}</string>
</dict>
<key>1076.jpg</key>
<dict>
<key>frame</key>
<string>{{1937,1124},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1077.jpg</key>
<dict>
<key>frame</key>
<string>{{1955,0},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1092.jpg</key>
<dict>
<key>frame</key>
<string>{{1955,281},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1094.jpg</key>
<dict>
<key>frame</key>
<string>{{1955,562},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1093.jpg</key>
<dict>
<key>frame</key>
<string>{{1955,843},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1095.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1825},{191,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{191,280}}</string>
<key>sourceSize</key>
<string>{191,280}</string>
</dict>
<key>1096.jpg</key>
<dict>
<key>frame</key>
<string>{{843,1825},{191,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{191,280}}</string>
<key>sourceSize</key>
<string>{191,280}</string>
</dict>
<key>1097.jpg</key>
<dict>
<key>frame</key>
<string>{{1896,1686},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1098.jpg</key>
<dict>
<key>frame</key>
<string>{{0,2017},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1099.jpg</key>
<dict>
<key>frame</key>
<string>{{843,2017},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1100.jpg</key>
<dict>
<key>frame</key>
<string>{{562,2029},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1102.jpg</key>
<dict>
<key>frame</key>
<string>{{281,2032},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1103.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,2022},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1101.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,2021},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1104.jpg</key>
<dict>
<key>frame</key>
<string>{{1686,1967},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1105.jpg</key>
<dict>
<key>frame</key>
<string>{{2164,0},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1106.jpg</key>
<dict>
<key>frame</key>
<string>{{2164,281},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1107.jpg</key>
<dict>
<key>frame</key>
<string>{{2164,562},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1108.jpg</key>
<dict>
<key>frame</key>
<string>{{2164,843},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1109.jpg</key>
<dict>
<key>frame</key>
<string>{{2146,1124},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1110.jpg</key>
<dict>
<key>frame</key>
<string>{{2105,1405},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1111.jpg</key>
<dict>
<key>frame</key>
<string>{{2105,1686},{191,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{191,280}}</string>
<key>sourceSize</key>
<string>{191,280}</string>
</dict>
<key>1112.jpg</key>
<dict>
<key>frame</key>
<string>{{1967,1967},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1113.jpg</key>
<dict>
<key>frame</key>
<string>{{0,2226},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1143.jpg</key>
<dict>
<key>frame</key>
<string>{{843,2226},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1144.jpg</key>
<dict>
<key>frame</key>
<string>{{562,2238},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1154.jpg</key>
<dict>
<key>frame</key>
<string>{{281,2241},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>15.jpg</key>
<dict>
<key>frame</key>
<string>{{1686,2176},{194,260}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{194,260}}</string>
<key>sourceSize</key>
<string>{194,260}</string>
</dict>
<key>862.jpg</key>
<dict>
<key>frame</key>
<string>{{1881,2176},{194,260}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{194,260}}</string>
<key>sourceSize</key>
<string>{194,260}</string>
</dict>
<key>370.jpg</key>
<dict>
<key>frame</key>
<string>{{2076,2176},{180,236}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{180,236}}</string>
<key>sourceSize</key>
<string>{180,236}</string>
</dict>
<key>481.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,2231},{164,221}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{164,221}}</string>
<key>sourceSize</key>
<string>{164,221}</string>
</dict>
<key>34.jpg</key>
<dict>
<key>frame</key>
<string>{{1346,2231},{140,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,187}}</string>
<key>sourceSize</key>
<string>{140,187}</string>
</dict>
<key>35.jpg</key>
<dict>
<key>frame</key>
<string>{{1487,2230},{140,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{140,187}}</string>
<key>sourceSize</key>
<string>{140,187}</string>
</dict>
<key>37.jpg</key>
<dict>
<key>frame</key>
<string>{{2373,0},{140,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,187}}</string>
<key>sourceSize</key>
<string>{140,187}</string>
</dict>
<key>38.jpg</key>
<dict>
<key>frame</key>
<string>{{2373,188},{140,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,187}}</string>
<key>sourceSize</key>
<string>{140,187}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>bw_texture.png</string>
<key>textureFileName</key>
<string>bw_texture.png</string>
<key>size</key>
<string>{2518,2450}</string>
</dict>
</dict>
</plist>
