<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>13.jpg</key>
<dict>
<key>frame</key>
<string>{{0,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>361.jpg</key>
<dict>
<key>frame</key>
<string>{{221,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>362.jpg</key>
<dict>
<key>frame</key>
<string>{{0,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>363.jpg</key>
<dict>
<key>frame</key>
<string>{{294,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>365.jpg</key>
<dict>
<key>frame</key>
<string>{{442,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>366.jpg</key>
<dict>
<key>frame</key>
<string>{{0,515},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>368.jpg</key>
<dict>
<key>frame</key>
<string>{{294,515},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>369.jpg</key>
<dict>
<key>frame</key>
<string>{{663,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>371.jpg</key>
<dict>
<key>frame</key>
<string>{{588,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>377.jpg</key>
<dict>
<key>frame</key>
<string>{{588,515},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>379.jpg</key>
<dict>
<key>frame</key>
<string>{{0,736},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>381.jpg</key>
<dict>
<key>frame</key>
<string>{{294,736},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>385.jpg</key>
<dict>
<key>frame</key>
<string>{{588,736},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>414.jpg</key>
<dict>
<key>frame</key>
<string>{{884,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>415.jpg</key>
<dict>
<key>frame</key>
<string>{{882,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>417.jpg</key>
<dict>
<key>frame</key>
<string>{{882,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>471.jpg</key>
<dict>
<key>frame</key>
<string>{{0,957},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>472.jpg</key>
<dict>
<key>frame</key>
<string>{{294,957},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>474.jpg</key>
<dict>
<key>frame</key>
<string>{{588,957},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>519.jpg</key>
<dict>
<key>frame</key>
<string>{{882,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>861.jpg</key>
<dict>
<key>frame</key>
<string>{{1105,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>1076.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,294},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1077.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,575},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1090.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,856},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1092.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1178},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1091.jpg</key>
<dict>
<key>frame</key>
<string>{{281,1178},{191,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{191,280}}</string>
<key>sourceSize</key>
<string>{191,280}</string>
</dict>
<key>1095.jpg</key>
<dict>
<key>frame</key>
<string>{{562,1178},{191,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{191,280}}</string>
<key>sourceSize</key>
<string>{191,280}</string>
</dict>
<key>1096.jpg</key>
<dict>
<key>frame</key>
<string>{{843,1178},{191,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{191,280}}</string>
<key>sourceSize</key>
<string>{191,280}</string>
</dict>
<key>1097.jpg</key>
<dict>
<key>frame</key>
<string>{{1326,0},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1098.jpg</key>
<dict>
<key>frame</key>
<string>{{1326,281},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1099.jpg</key>
<dict>
<key>frame</key>
<string>{{1312,562},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1100.jpg</key>
<dict>
<key>frame</key>
<string>{{1312,843},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1101.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,1137},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1102.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1387},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1103.jpg</key>
<dict>
<key>frame</key>
<string>{{281,1370},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1104.jpg</key>
<dict>
<key>frame</key>
<string>{{562,1370},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1105.jpg</key>
<dict>
<key>frame</key>
<string>{{843,1370},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1106.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,1346},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1107.jpg</key>
<dict>
<key>frame</key>
<string>{{1535,0},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1108.jpg</key>
<dict>
<key>frame</key>
<string>{{1535,281},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1109.jpg</key>
<dict>
<key>frame</key>
<string>{{1521,562},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1110.jpg</key>
<dict>
<key>frame</key>
<string>{{1521,843},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1111.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,1124},{191,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{191,280}}</string>
<key>sourceSize</key>
<string>{191,280}</string>
</dict>
<key>1112.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,1316},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1113.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1596},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1143.jpg</key>
<dict>
<key>frame</key>
<string>{{281,1579},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1144.jpg</key>
<dict>
<key>frame</key>
<string>{{562,1579},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>1154.jpg</key>
<dict>
<key>frame</key>
<string>{{843,1579},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>10.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,1555},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>11.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,1525},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>12.jpg</key>
<dict>
<key>frame</key>
<string>{{1744,0},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>14.jpg</key>
<dict>
<key>frame</key>
<string>{{1730,562},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>22.jpg</key>
<dict>
<key>frame</key>
<string>{{1730,843},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>21.jpg</key>
<dict>
<key>frame</key>
<string>{{1686,1124},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>23.jpg</key>
<dict>
<key>frame</key>
<string>{{1686,1405},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>24.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1805},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>25.jpg</key>
<dict>
<key>frame</key>
<string>{{281,1788},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>32.jpg</key>
<dict>
<key>frame</key>
<string>{{1744,281},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>33.jpg</key>
<dict>
<key>frame</key>
<string>{{562,1788},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>36.jpg</key>
<dict>
<key>frame</key>
<string>{{843,1788},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>39.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,1768},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>40.jpg</key>
<dict>
<key>frame</key>
<string>{{1686,1686},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>41.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,1738},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>42.jpg</key>
<dict>
<key>frame</key>
<string>{{1954,0},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>43.jpg</key>
<dict>
<key>frame</key>
<string>{{1953,281},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>44.jpg</key>
<dict>
<key>frame</key>
<string>{{1943,562},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>45.jpg</key>
<dict>
<key>frame</key>
<string>{{1943,843},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>46.jpg</key>
<dict>
<key>frame</key>
<string>{{1896,1686},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>47.jpg</key>
<dict>
<key>frame</key>
<string>{{1899,1124},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>48.jpg</key>
<dict>
<key>frame</key>
<string>{{1899,1405},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>57.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,1951},{212,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,280}}</string>
<key>sourceSize</key>
<string>{212,280}</string>
</dict>
<key>8.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,1976},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>860.jpg</key>
<dict>
<key>frame</key>
<string>{{0,2018},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>871.jpg</key>
<dict>
<key>frame</key>
<string>{{281,2001},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>872.jpg</key>
<dict>
<key>frame</key>
<string>{{562,1998},{208,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{208,280}}</string>
<key>sourceSize</key>
<string>{208,280}</string>
</dict>
<key>9.jpg</key>
<dict>
<key>frame</key>
<string>{{843,1998},{211,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{211,280}}</string>
<key>sourceSize</key>
<string>{211,280}</string>
</dict>
<key>942.png</key>
<dict>
<key>frame</key>
<string>{{1686,1967},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>943.png</key>
<dict>
<key>frame</key>
<string>{{2167,0},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>944.png</key>
<dict>
<key>frame</key>
<string>{{2166,281},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>945.png</key>
<dict>
<key>frame</key>
<string>{{2156,562},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>998.png</key>
<dict>
<key>frame</key>
<string>{{2156,843},{207,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{207,280}}</string>
<key>sourceSize</key>
<string>{207,280}</string>
</dict>
<key>433.png</key>
<dict>
<key>frame</key>
<string>{{1967,1967},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>899.jpg</key>
<dict>
<key>frame</key>
<string>{{2109,1124},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>900.jpg</key>
<dict>
<key>frame</key>
<string>{{2109,1405},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>999.png</key>
<dict>
<key>frame</key>
<string>{{2109,1686},{210,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{210,280}}</string>
<key>sourceSize</key>
<string>{210,280}</string>
</dict>
<key>901.jpg</key>
<dict>
<key>frame</key>
<string>{{562,2207},{209,280}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{209,280}}</string>
<key>sourceSize</key>
<string>{209,280}</string>
</dict>
<key>862.jpg</key>
<dict>
<key>frame</key>
<string>{{1405,2177},{194,260}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{194,260}}</string>
<key>sourceSize</key>
<string>{194,260}</string>
</dict>
<key>370.jpg</key>
<dict>
<key>frame</key>
<string>{{1124,2186},{180,236}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{180,236}}</string>
<key>sourceSize</key>
<string>{180,236}</string>
</dict>
<key>481.jpg</key>
<dict>
<key>frame</key>
<string>{{281,2210},{164,221}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{164,221}}</string>
<key>sourceSize</key>
<string>{164,221}</string>
</dict>
<key>34.jpg</key>
<dict>
<key>frame</key>
<string>{{0,2228},{140,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,187}}</string>
<key>sourceSize</key>
<string>{140,187}</string>
</dict>
<key>35.jpg</key>
<dict>
<key>frame</key>
<string>{{843,2210},{140,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,187}}</string>
<key>sourceSize</key>
<string>{140,187}</string>
</dict>
<key>37.jpg</key>
<dict>
<key>frame</key>
<string>{{1600,2177},{140,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,187}}</string>
<key>sourceSize</key>
<string>{140,187}</string>
</dict>
<key>38.jpg</key>
<dict>
<key>frame</key>
<string>{{1741,2175},{140,187}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{140,187}}</string>
<key>sourceSize</key>
<string>{140,187}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>bw_texture.png</string>
<key>textureFileName</key>
<string>bw_texture.png</string>
<key>size</key>
<string>{2374,2440}</string>
</dict>
</dict>
</plist>
