<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_title_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,708},{1083,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1083,46}</string>
			</dict>
			<key>bg_title_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,758},{1083,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1083,46}</string>
			</dict>
			<key>btn_ADDCASH_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,843},{250,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,47}</string>
			</dict>
			<key>btn_ADD_loto.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,632},{75,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,44}</string>
			</dict>
			<key>btn_jilu_BIG WINNER_01_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,875},{136,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,33}</string>
			</dict>
			<key>btn_jilu_BIG WINNER_01_EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,462},{170,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,28}</string>
			</dict>
			<key>btn_jilu_BIG WINNER_01_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,396},{189,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,43}</string>
			</dict>
			<key>btn_jilu_BIG WINNER_01_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,197},{195,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,42}</string>
			</dict>
			<key>btn_jilu_BIG WINNER_02_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,869},{138,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,33}</string>
			</dict>
			<key>btn_jilu_BIG WINNER_02_EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,430},{172,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,28}</string>
			</dict>
			<key>btn_jilu_BIG WINNER_02_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,2},{191,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,43}</string>
			</dict>
			<key>btn_jilu_BIG WINNER_02_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,941},{197,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,42}</string>
			</dict>
			<key>btn_jilu_JACKPOT_01_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,2},{168,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,46}</string>
			</dict>
			<key>btn_jilu_JACKPOT_01_EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1944,52},{130,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,28}</string>
			</dict>
			<key>btn_jilu_JACKPOT_01_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,956},{125,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,37}</string>
			</dict>
			<key>btn_jilu_JACKPOT_01_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1899,52},{155,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,41}</string>
			</dict>
			<key>btn_jilu_JACKPOT_02_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,957},{170,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,46}</string>
			</dict>
			<key>btn_jilu_JACKPOT_02_EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1854,213},{132,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,28}</string>
			</dict>
			<key>btn_jilu_JACKPOT_02_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,915},{127,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,37}</string>
			</dict>
			<key>btn_jilu_JACKPOT_02_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1854,52},{157,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,41}</string>
			</dict>
			<key>btn_jilu_Lucky Loto.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,951},{228,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,62}</string>
			</dict>
			<key>btn_jilu_MY HISTORY_01_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,589},{218,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,35}</string>
			</dict>
			<key>btn_jilu_MY HISTORY_01_EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,398},{174,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,28}</string>
			</dict>
			<key>btn_jilu_MY HISTORY_01_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,941},{200,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,43}</string>
			</dict>
			<key>btn_jilu_MY HISTORY_01_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,52},{207,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,35}</string>
			</dict>
			<key>btn_jilu_MY HISTORY_02_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,987},{220,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,35}</string>
			</dict>
			<key>btn_jilu_MY HISTORY_02_EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,988},{176,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,28}</string>
			</dict>
			<key>btn_jilu_MY HISTORY_02_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,894},{202,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,43}</string>
			</dict>
			<key>btn_jilu_MY HISTORY_02_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,811},{209,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,35}</string>
			</dict>
			<key>btn_REPEAT BET.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,873},{236,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,74}</string>
			</dict>
			<key>btn_Repeat bets.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,843},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>btn_Repeat bets_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,875},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>btn_REPEAT BET_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,932},{236,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,74}</string>
			</dict>
			<key>title_ONLINE PLAYERS_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,808},{395,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,57}</string>
			</dict>
			<key>title_ONLINE PLAYERS_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,808},{376,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,61}</string>
			</dict>
			<key>title_ONLINE PLAYERS_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,808},{279,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,63}</string>
			</dict>
			<key>title_WINNING HISTORY_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,869},{358,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,59}</string>
			</dict>
			<key>title_WINNING HISTORY_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,777},{395,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,62}</string>
			</dict>
			<key>title_WINNING HISTORY_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,708},{388,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,65}</string>
			</dict>
			<key>wenzi_BIG WINNER_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,932},{121,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,31}</string>
			</dict>
			<key>wenzi_BIG WINNER_EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,988},{183,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,28}</string>
			</dict>
			<key>wenzi_BIG WINNER_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,312},{159,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,40}</string>
			</dict>
			<key>wenzi_BIG WINNER_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,356},{162,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,38}</string>
			</dict>
			<key>wenzi_JACKPOT_Bengali.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,263},{153,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,45}</string>
			</dict>
			<key>wenzi_JACKPOT_EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,875},{140,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,28}</string>
			</dict>
			<key>wenzi_JACKPOT_Hindi.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,967},{107,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,35}</string>
			</dict>
			<key>wenzi_JACKPOT_Urdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,873},{133,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,38}</string>
			</dict>
			<key>btn_color.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,494},{88,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,42}</string>
			</dict>
			<key>btn_high.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,494},{88,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,42}</string>
			</dict>
			<key>btn_jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,925},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>btn_jackpot_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1222,925},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>btn_pair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,540},{88,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,42}</string>
			</dict>
			<key>btn_pure.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,540},{88,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,42}</string>
			</dict>
			<key>btn_seq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,586},{88,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,42}</string>
			</dict>
			<key>btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{1907,586},{88,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,42}</string>
			</dict>
			<key>bg_Lucky Loto.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1210,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1210,702}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sscNewLobby.png</string>
			<key>realTextureFileName</key>
			<string>sscNewLobby.png</string>
			<key>size</key>
			<string>{2046,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2046</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>