<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,2},{206,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,68}</string>
			</dict>
			<key>K_bg_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{873,556}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{873,556}</string>
			</dict>
			<key>title_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,2},{309,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{309,41}</string>
			</dict>
			<key>wenzi_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,562},{785,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{785,301}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,212},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sscRuiZe.png</string>
			<key>realTextureFileName</key>
			<string>sscRuiZe.png</string>
			<key>size</key>
			<string>{994,865}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>994</integer>
			<key>height</key>
			<integer>865</integer>
		</dict>
	</dict>
</plist>