<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,777},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_plus_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,824},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,870},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_reduce_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,749},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_wj@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,903},{101,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,89}</string>
			</dict>
			<key>blue_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,981},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>red_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,981},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>yel_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,981},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>btn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,529},{131,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>btn_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,580},{131,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>btn_812.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,664},{131,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,89}</string>
			</dict>
			<key>gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,981},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>gold_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,981},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>icon_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,981},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>icon_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,981},{31,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,27}</string>
			</dict>
			<key>img_dx.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,673},{106,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,107}</string>
			</dict>
			<key>light.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{337,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,269}</string>
			</dict>
			<key>light_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,2},{438,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{438,168}</string>
			</dict>
			<key>light_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,2},{337,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,269}</string>
			</dict>
			<key>num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,981},{131,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
			<key>sz_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,2},{344,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{344,82}</string>
			</dict>
			<key>tz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,580},{86,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,130}</string>
			</dict>
			<key>tz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,908},{100,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,66}</string>
			</dict>
			<key>user_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,665},{234,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,79}</string>
			</dict>
			<key>user_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,714},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>user_head_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,714},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>user_head_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,411},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>user_name_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,529},{181,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,69}</string>
			</dict>
			<key>zs_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,981},{345,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,39}</string>
			</dict>
			<key>you.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,444},{301,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,234}</string>
			</dict>
			<key>zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,275},{402,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,132}</string>
			</dict>
			<key>zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,275},{301,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{301,233}</string>
			</dict>
			<key>xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,2},{975,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{975,58}</string>
			</dict>
			<key>NEW.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,981},{68,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,32}</string>
			</dict>
			<key>talk_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,350},{311,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{311,78}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,444},{460,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{460,81}</string>
			</dict>
			<key>billing.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,444},{205,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,55}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,444},{329,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,55}</string>
			</dict>
			<key>VIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,783},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>btn_addcash.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,749},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,786},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>btn_hz.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,839},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>btn_tc.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,842},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>btn_wf.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,876},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>7upPlist.png</string>
			<key>realTextureFileName</key>
			<string>7upPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>