<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,0},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,216},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{840,216},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,432},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,432},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,432},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,432},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,432},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{840,432},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,648},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,648},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,0},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,648},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,648},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,648},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{840,648},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,864},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,864},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,864},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,864},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,864},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{840,864},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,0},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,1080},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,1080},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,1080},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,1080},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,1080},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{840,1080},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,1296},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,1296},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,1296},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,1296},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,0},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,1296},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{840,1296},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,1512},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,1512},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,1512},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,1512},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,1512},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{840,1512},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,1728},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,1728},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{840,0},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,1728},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,1728},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{672,1728},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{0,216},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{168,216},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{336,216},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{168,216}</string>
                <key>textureRect</key>
                <string>{{504,216},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1008,1944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:240035e9d157223999f3ec69697a30c8:6d763eac87c71f8fa4835f8b1da06920:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
