<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1000X.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,3},{313,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{693,3},{313,76}}</string>
				<key>sourceSize</key>
				<string>{313,76}</string>
			</dict>
			<key>1000X_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,3},{313,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{693,3},{313,76}}</string>
				<key>sourceSize</key>
				<string>{313,76}</string>
			</dict>
			<key>Grand.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,531},{252,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{650,531},{252,79}}</string>
				<key>sourceSize</key>
				<string>{252,79}</string>
			</dict>
			<key>Grand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,531},{252,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{650,531},{252,79}}</string>
				<key>sourceSize</key>
				<string>{252,79}</string>
			</dict>
			<key>Intro_Feature_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,539},{417,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{326,539},{417,318}}</string>
				<key>sourceSize</key>
				<string>{417,318}</string>
			</dict>
			<key>Intro_Feature_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,539},{417,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{326,539},{417,318}}</string>
				<key>sourceSize</key>
				<string>{417,318}</string>
			</dict>
			<key>Intro_Feature_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,539},{419,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,539},{419,317}}</string>
				<key>sourceSize</key>
				<string>{419,317}</string>
			</dict>
			<key>Intro_Feature_02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,539},{419,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,539},{419,317}}</string>
				<key>sourceSize</key>
				<string>{419,317}</string>
			</dict>
			<key>Intro_Feature_LT_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,903},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{707,903},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Intro_Feature_LT_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,903},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{707,903},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Intro_Feature_LT_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,3},{218,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,3},{218,228}}</string>
				<key>sourceSize</key>
				<string>{218,228}</string>
			</dict>
			<key>Intro_Feature_LT_02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,3},{218,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,3},{218,228}}</string>
				<key>sourceSize</key>
				<string>{218,228}</string>
			</dict>
			<key>Intro_Feature_LT_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,831},{58,53}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{815,831},{58,53}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Intro_Feature_LT_03_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,831},{58,53}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{815,831},{58,53}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Intro_Figure.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{460,530}}</string>
				<key>offset</key>
				<string>{8,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{460,530}}</string>
				<key>sourceSize</key>
				<string>{500,540}</string>
			</dict>
			<key>Intro_FreeRespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,85},{337,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{941,85},{337,65}}</string>
				<key>sourceSize</key>
				<string>{337,65}</string>
			</dict>
			<key>Intro_FreeRespin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,85},{337,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{941,85},{337,65}}</string>
				<key>sourceSize</key>
				<string>{337,65}</string>
			</dict>
			<key>Intro_NearWin_Frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,237},{156,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,237},{156,278}}</string>
				<key>sourceSize</key>
				<string>{156,278}</string>
			</dict>
			<key>Intro_NearWin_Frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,237},{156,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,237},{156,278}}</string>
				<key>sourceSize</key>
				<string>{156,278}</string>
			</dict>
			<key>Intro_Speed.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,85},{94,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{693,85},{94,242}}</string>
				<key>sourceSize</key>
				<string>{94,242}</string>
			</dict>
			<key>Intro_Speed_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,85},{94,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{693,85},{94,242}}</string>
				<key>sourceSize</key>
				<string>{94,242}</string>
			</dict>
			<key>Intro_Symbol_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,789},{108,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{650,789},{108,85}}</string>
				<key>sourceSize</key>
				<string>{108,85}</string>
			</dict>
			<key>Intro_Symbol_02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,789},{108,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{650,789},{108,85}}</string>
				<key>sourceSize</key>
				<string>{108,85}</string>
			</dict>
			<key>Intro_Title_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,428},{548,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{913,428},{548,93}}</string>
				<key>sourceSize</key>
				<string>{548,93}</string>
			</dict>
			<key>Intro_Title_Bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,428},{548,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{913,428},{548,93}}</string>
				<key>sourceSize</key>
				<string>{548,93}</string>
			</dict>
			<key>SUPER.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,237},{226,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{631,237},{226,108}}</string>
				<key>sourceSize</key>
				<string>{226,108}</string>
			</dict>
			<key>SUPER_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,237},{226,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{631,237},{226,108}}</string>
				<key>sourceSize</key>
				<string>{226,108}</string>
			</dict>
			<key>coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,896},{69,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{777,896},{69,58}}</string>
				<key>sourceSize</key>
				<string>{69,58}</string>
			</dict>
			<key>coin_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,896},{69,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{777,896},{69,58}}</string>
				<key>sourceSize</key>
				<string>{69,58}</string>
			</dict>
			<key>coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,962},{68,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{404,962},{68,46}}</string>
				<key>sourceSize</key>
				<string>{68,46}</string>
			</dict>
			<key>coin_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,962},{68,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{404,962},{68,46}}</string>
				<key>sourceSize</key>
				<string>{68,46}</string>
			</dict>
			<key>coin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,903},{86,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{650,903},{86,51}}</string>
				<key>sourceSize</key>
				<string>{86,51}</string>
			</dict>
			<key>coin_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,903},{86,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{650,903},{86,51}}</string>
				<key>sourceSize</key>
				<string>{86,51}</string>
			</dict>
			<key>coin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,964},{77,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,964},{77,40}}</string>
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>coin_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,964},{77,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,964},{77,40}}</string>
				<key>sourceSize</key>
				<string>{77,40}</string>
			</dict>
			<key>coin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,831},{59,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{741,831},{59,68}}</string>
				<key>sourceSize</key>
				<string>{59,68}</string>
			</dict>
			<key>coin_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,831},{59,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{741,831},{59,68}}</string>
				<key>sourceSize</key>
				<string>{59,68}</string>
			</dict>
			<key>coin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,962},{72,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{326,962},{72,46}}</string>
				<key>sourceSize</key>
				<string>{72,46}</string>
			</dict>
			<key>coin_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,962},{72,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{326,962},{72,46}}</string>
				<key>sourceSize</key>
				<string>{72,46}</string>
			</dict>
			<key>coin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,469},{84,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{631,469},{84,56}}</string>
				<key>sourceSize</key>
				<string>{84,56}</string>
			</dict>
			<key>coin_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,469},{84,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{631,469},{84,56}}</string>
				<key>sourceSize</key>
				<string>{84,56}</string>
			</dict>
			<key>right_Basegoldbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,185},{640,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{745,185},{640,162}}</string>
				<key>sourceSize</key>
				<string>{640,162}</string>
			</dict>
			<key>right_Basegoldbar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,185},{640,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{745,185},{640,162}}</string>
				<key>sourceSize</key>
				<string>{640,162}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>120bd80a0.4d078.png</string>
			<key>size</key>
			<string>{1009,1011}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>120bd80a0.4d078.png</string>
		</dict>
	</dict>
</plist>
