<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MG_specialTXT_01s.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,620},{119,21}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{250,620},{119,21}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>String_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,489},{152,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{518,489},{152,33}}</string>
				<key>sourceSize</key>
				<string>{152,33}</string>
			</dict>
			<key>String_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{385,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{385,292}}</string>
				<key>sourceSize</key>
				<string>{385,292}</string>
			</dict>
			<key>String_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,301},{339,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{143,301},{339,101}}</string>
				<key>sourceSize</key>
				<string>{339,101}</string>
			</dict>
			<key>String_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,301},{283,77}}</string>
				<key>offset</key>
				<string>{-13,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{250,301},{283,77}}</string>
				<key>sourceSize</key>
				<string>{308,90}</string>
			</dict>
			<key>String_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,3},{378,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{614,3},{378,96}}</string>
				<key>sourceSize</key>
				<string>{378,96}</string>
			</dict>
			<key>TXT_ExtraBet_Declare.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,301},{394,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,301},{394,134}}</string>
				<key>sourceSize</key>
				<string>{394,134}</string>
			</dict>
			<key>TXT_Free_Respin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,301},{272,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{333,301},{272,53}}</string>
				<key>sourceSize</key>
				<string>{272,53}</string>
			</dict>
			<key>TXT_Hit_Rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,701},{101,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,701},{101,26}}</string>
				<key>sourceSize</key>
				<string>{101,26}</string>
			</dict>
			<key>TXT_JP_Compliment_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,3},{480,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{518,3},{480,90}}</string>
				<key>sourceSize</key>
				<string>{480,90}</string>
			</dict>
			<key>TXT_JP_Declare_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,649},{498,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,649},{498,96}}</string>
				<key>sourceSize</key>
				<string>{498,96}</string>
			</dict>
			<key>TXT_JP_Declare_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,3},{640,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{394,3},{640,118}}</string>
				<key>sourceSize</key>
				<string>{640,118}</string>
			</dict>
			<key>TXT_JP_Declare_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,3},{440,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{723,3},{440,21}}</string>
				<key>sourceSize</key>
				<string>{440,21}</string>
			</dict>
			<key>TXT_Respin_At_Price_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,590},{135,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{250,590},{135,24}}</string>
				<key>sourceSize</key>
				<string>{135,24}</string>
			</dict>
			<key>TXT_Respin_At_Price_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,387},{103,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{614,387},{103,21}}</string>
				<key>sourceSize</key>
				<string>{103,21}</string>
			</dict>
			<key>TXT_Respin_At_Price_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,701},{62,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{110,701},{62,18}}</string>
				<key>sourceSize</key>
				<string>{62,18}</string>
			</dict>
			<key>txt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,3},{422,25}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{750,3},{422,25}}</string>
				<key>sourceSize</key>
				<string>{470,56}</string>
			</dict>
			<key>txt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,751},{456,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,751},{456,26}}</string>
				<key>sourceSize</key>
				<string>{470,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>16d1fd2f0.eb8b9.png</string>
			<key>size</key>
			<string>{778,780}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>16d1fd2f0.eb8b9.png</string>
		</dict>
	</dict>
</plist>
