<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Add_Flare.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,724},{59,59}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{967,724},{59,59}}</string>
				<key>sourceSize</key>
				<string>{64,61}</string>
			</dict>
			<key>Add_Flare_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,724},{59,59}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{967,724},{59,59}}</string>
				<key>sourceSize</key>
				<string>{64,61}</string>
			</dict>
			<key>Bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1042},{98,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1169,1042},{98,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Bottom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1042},{98,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1169,1042},{98,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Button_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1162},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1584,1162},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>Button_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1162},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1584,1162},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>Button_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1220},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1584,1220},{49,49}}</string>
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Button_02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1220},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1584,1220},{49,49}}</string>
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>FX_Brushing_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1615},{168,33}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{144,1615},{168,33}}</string>
				<key>sourceSize</key>
				<string>{180,40}</string>
			</dict>
			<key>FX_Brushing_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1615},{168,33}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{144,1615},{168,33}}</string>
				<key>sourceSize</key>
				<string>{180,40}</string>
			</dict>
			<key>FX_Light_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,1364},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1638,1364},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>FX_Light_02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,1364},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1638,1364},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>FX_Light_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,712},{117,115}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,712},{117,115}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>FX_Light_04_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,1498},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1640,1498},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>FX_Light_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,712},{117,115}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1676,712},{117,115}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>FX_Light_04_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,1498},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1640,1498},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>FX_Seq_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,1042},{100,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1275,1042},{100,94}}</string>
				<key>sourceSize</key>
				<string>{100,94}</string>
			</dict>
			<key>FX_Seq_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,1042},{100,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1275,1042},{100,94}}</string>
				<key>sourceSize</key>
				<string>{100,94}</string>
			</dict>
			<key>FX_Star_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1776},{15,16}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,1776},{15,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>FX_Star_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1776},{15,16}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,1776},{15,16}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Frame_Light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,1025},{194,119}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1674,1025},{194,119}}</string>
				<key>sourceSize</key>
				<string>{264,170}</string>
			</dict>
			<key>Frame_Light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,1025},{194,119}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1674,1025},{194,119}}</string>
				<key>sourceSize</key>
				<string>{264,170}</string>
			</dict>
			<key>Frame_MG.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,3},{703,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,3},{703,554}}</string>
				<key>sourceSize</key>
				<string>{703,554}</string>
			</dict>
			<key>Frame_MG_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,3},{703,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,3},{703,554}}</string>
				<key>sourceSize</key>
				<string>{703,554}</string>
			</dict>
			<key>Free_Respin_Mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1603},{245,180}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{721,1603},{245,180}}</string>
				<key>sourceSize</key>
				<string>{264,195}</string>
			</dict>
			<key>Free_Respin_Mark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1603},{245,180}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{721,1603},{245,180}}</string>
				<key>sourceSize</key>
				<string>{264,195}</string>
			</dict>
			<key>GRAND.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,983},{614,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{329,983},{614,414}}</string>
				<key>sourceSize</key>
				<string>{614,414}</string>
			</dict>
			<key>GRAND_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,983},{614,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{329,983},{614,414}}</string>
				<key>sourceSize</key>
				<string>{614,414}</string>
			</dict>
			<key>HP_NUM_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,859},{456,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1070,859},{456,110}}</string>
				<key>sourceSize</key>
				<string>{456,110}</string>
			</dict>
			<key>HP_NUM_BG_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,859},{456,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1070,859},{456,110}}</string>
				<key>sourceSize</key>
				<string>{456,110}</string>
			</dict>
			<key>Intro_Bg_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,809},{800,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,809},{800,320}}</string>
				<key>sourceSize</key>
				<string>{800,320}</string>
			</dict>
			<key>Intro_Bg_P.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{320,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{320,800}}</string>
				<key>sourceSize</key>
				<string>{320,800}</string>
			</dict>
			<key>JOKER.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,563},{614,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,563},{614,414}}</string>
				<key>sourceSize</key>
				<string>{614,414}</string>
			</dict>
			<key>JOKER_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,563},{614,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,563},{614,414}}</string>
				<key>sourceSize</key>
				<string>{614,414}</string>
			</dict>
			<key>JP_GRAND.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1461},{363,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1461},{363,95}}</string>
				<key>sourceSize</key>
				<string>{363,95}</string>
			</dict>
			<key>JP_GRAND_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1461},{363,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1461},{363,95}}</string>
				<key>sourceSize</key>
				<string>{363,95}</string>
			</dict>
			<key>JP_JOKER.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1146},{409,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1146},{409,107}}</string>
				<key>sourceSize</key>
				<string>{409,107}</string>
			</dict>
			<key>JP_JOKER_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1146},{409,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1146},{409,107}}</string>
				<key>sourceSize</key>
				<string>{409,107}</string>
			</dict>
			<key>JP_MAJOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1259},{364,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1259},{364,95}}</string>
				<key>sourceSize</key>
				<string>{364,95}</string>
			</dict>
			<key>JP_MAJOR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1259},{364,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1259},{364,95}}</string>
				<key>sourceSize</key>
				<string>{364,95}</string>
			</dict>
			<key>JP_MINOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1360},{363,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1360},{363,95}}</string>
				<key>sourceSize</key>
				<string>{363,95}</string>
			</dict>
			<key>JP_MINOR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1360},{363,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1360},{363,95}}</string>
				<key>sourceSize</key>
				<string>{363,95}</string>
			</dict>
			<key>Line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,1507},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1592,1507},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,1507},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1592,1507},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1114},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1626,1114},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1114},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1626,1114},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1066},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1626,1066},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1066},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1626,1066},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1018},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1626,1018},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,1018},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1626,1018},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1632},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1749,1632},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1632},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1749,1632},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>Line_A.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,3},{697,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1056,3},{697,430}}</string>
				<key>sourceSize</key>
				<string>{697,430}</string>
			</dict>
			<key>Line_A_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,3},{697,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1056,3},{697,430}}</string>
				<key>sourceSize</key>
				<string>{697,430}</string>
			</dict>
			<key>Line_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,38},{668,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1759,38},{668,21}}</string>
				<key>sourceSize</key>
				<string>{668,21}</string>
			</dict>
			<key>Line_B_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,38},{668,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1759,38},{668,21}}</string>
				<key>sourceSize</key>
				<string>{668,21}</string>
			</dict>
			<key>MAJOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,439},{614,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1056,439},{614,414}}</string>
				<key>sourceSize</key>
				<string>{614,414}</string>
			</dict>
			<key>MAJOR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,439},{614,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1056,439},{614,414}}</string>
				<key>sourceSize</key>
				<string>{614,414}</string>
			</dict>
			<key>MINOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,983},{614,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{749,983},{614,414}}</string>
				<key>sourceSize</key>
				<string>{614,414}</string>
			</dict>
			<key>MINOR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,983},{614,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{749,983},{614,414}}</string>
				<key>sourceSize</key>
				<string>{614,414}</string>
			</dict>
			<key>Multiply_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1615},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{183,1615},{155,76}}</string>
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>Multiply_BG_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1615},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{183,1615},{155,76}}</string>
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>Multiply_BG_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1615},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{265,1615},{155,76}}</string>
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>Multiply_BG_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1615},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{265,1615},{155,76}}</string>
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>Multiply_BG_2_FX.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,563},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{967,563},{155,76}}</string>
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>Multiply_BG_2_FX_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,563},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{967,563},{155,76}}</string>
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>Multiply_BG_FX.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,439},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1676,439},{155,76}}</string>
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>Multiply_BG_FX_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,439},{155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1676,439},{155,76}}</string>
				<key>sourceSize</key>
				<string>{155,76}</string>
			</dict>
			<key>Multiply_Frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,833},{186,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1676,833},{186,112}}</string>
				<key>sourceSize</key>
				<string>{186,112}</string>
			</dict>
			<key>Multiply_Frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,833},{186,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1676,833},{186,112}}</string>
				<key>sourceSize</key>
				<string>{186,112}</string>
			</dict>
			<key>Percent.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,3},{33,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1759,3},{33,29}}</string>
				<key>sourceSize</key>
				<string>{33,29}</string>
			</dict>
			<key>Percent_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,3},{33,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1759,3},{33,29}}</string>
				<key>sourceSize</key>
				<string>{33,29}</string>
			</dict>
			<key>SunLight_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1562},{227,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1562},{227,227}}</string>
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>SunLight_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1562},{227,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1562},{227,227}}</string>
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>
			<key>Symbol_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1632},{126,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1620,1632},{126,123}}</string>
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Symbol_00_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1632},{126,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1620,1632},{126,123}}</string>
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>Symbol_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1603},{126,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{972,1603},{126,119}}</string>
				<key>sourceSize</key>
				<string>{126,119}</string>
			</dict>
			<key>Symbol_01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1603},{126,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{972,1603},{126,119}}</string>
				<key>sourceSize</key>
				<string>{126,119}</string>
			</dict>
			<key>Symbol_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,1225},{134,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1639,1225},{134,133}}</string>
				<key>sourceSize</key>
				<string>{134,133}</string>
			</dict>
			<key>Symbol_02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,1225},{134,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1639,1225},{134,133}}</string>
				<key>sourceSize</key>
				<string>{134,133}</string>
			</dict>
			<key>Symbol_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,1018},{135,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1485,1018},{135,122}}</string>
				<key>sourceSize</key>
				<string>{135,122}</string>
			</dict>
			<key>Symbol_03_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,1018},{135,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1485,1018},{135,122}}</string>
				<key>sourceSize</key>
				<string>{135,122}</string>
			</dict>
			<key>Symbol_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1603},{188,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{347,1603},{188,133}}</string>
				<key>sourceSize</key>
				<string>{188,133}</string>
			</dict>
			<key>Symbol_04_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1603},{188,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{347,1603},{188,133}}</string>
				<key>sourceSize</key>
				<string>{188,133}</string>
			</dict>
			<key>Symbol_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,859},{135,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1532,859},{135,153}}</string>
				<key>sourceSize</key>
				<string>{135,153}</string>
			</dict>
			<key>Symbol_05_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,859},{135,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1532,859},{135,153}}</string>
				<key>sourceSize</key>
				<string>{135,153}</string>
			</dict>
			<key>Symbol_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1615},{169,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1615},{169,135}}</string>
				<key>sourceSize</key>
				<string>{169,135}</string>
			</dict>
			<key>Symbol_06_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1615},{169,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1615},{169,135}}</string>
				<key>sourceSize</key>
				<string>{169,135}</string>
			</dict>
			<key>Symbol_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,1562},{213,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1402,1562},{213,212}}</string>
				<key>sourceSize</key>
				<string>{213,212}</string>
			</dict>
			<key>Symbol_07_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,1562},{213,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1402,1562},{213,212}}</string>
				<key>sourceSize</key>
				<string>{213,212}</string>
			</dict>
			<key>Symbol_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1603},{229,184}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,1603},{229,184}}</string>
				<key>sourceSize</key>
				<string>{229,196}</string>
			</dict>
			<key>Symbol_08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1603},{229,184}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,1603},{229,184}}</string>
				<key>sourceSize</key>
				<string>{229,196}</string>
			</dict>
			<key>Win_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,975},{310,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,975},{310,61}}</string>
				<key>sourceSize</key>
				<string>{310,61}</string>
			</dict>
			<key>Win_BG_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,975},{310,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,975},{310,61}}</string>
				<key>sourceSize</key>
				<string>{310,61}</string>
			</dict>
			<key>board_button_EX.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,600},{87,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1676,600},{87,66}}</string>
				<key>sourceSize</key>
				<string>{87,66}</string>
			</dict>
			<key>board_button_EX_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,600},{87,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1676,600},{87,66}}</string>
				<key>sourceSize</key>
				<string>{87,66}</string>
			</dict>
			<key>board_button_Tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,1275},{226,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1539,1275},{226,93}}</string>
				<key>sourceSize</key>
				<string>{226,93}</string>
			</dict>
			<key>board_button_Tip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,1275},{226,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1539,1275},{226,93}}</string>
				<key>sourceSize</key>
				<string>{226,93}</string>
			</dict>
			<key>board_button_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,859},{111,45}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1019,859},{111,45}}</string>
				<key>sourceSize</key>
				<string>{112,46}</string>
			</dict>
			<key>board_button_off_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,859},{111,45}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1019,859},{111,45}}</string>
				<key>sourceSize</key>
				<string>{112,46}</string>
			</dict>
			<key>board_button_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,859},{112,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{967,859},{112,46}}</string>
				<key>sourceSize</key>
				<string>{112,46}</string>
			</dict>
			<key>board_button_on_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,859},{112,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{967,859},{112,46}}</string>
				<key>sourceSize</key>
				<string>{112,46}</string>
			</dict>
			<key>board_button_q.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,1507},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1538,1507},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>board_button_q_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,1507},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1538,1507},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>board_frames.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,789},{53,58}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{967,789},{53,58}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>board_frames_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,789},{53,58}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{967,789},{53,58}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c41e883f.937b9.png</string>
			<key>size</key>
			<string>{1796,1795}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c41e883f.937b9.png</string>
		</dict>
	</dict>
</plist>
