<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cash-mania.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon-hatch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{1,163},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon-hatch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fortune-dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{1,325},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fortune-mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{153,163},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fortune-ox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fortune-rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{1,487},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fortune-tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{153,325},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>futebol-fever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{305,163},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>incan-wonders.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{457,1},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_3cointreasures.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{1,649},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_3devilfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{153,487},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_3luckypiggy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{305,325},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_3potdragons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{457,163},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_FaFaFa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{609,1},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_FortuneGems.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{153,649},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_FortuneGems2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{1,811},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jili_FortuneGems3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{305,487},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_MasterTiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{457,325},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_PartyStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{609,163},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_chargebuffalo-ascent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{761,1},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_chargebuffalo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{913,1},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_fortunepig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{305,649},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_goldenjoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{163,811},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jili_legacyofegypt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{457,487},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jili_super-rich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{609,325},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mr-treas-fort.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{761,163},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata-wins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{913,163},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_CandyCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{457,649},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_FangtasticFreespins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{325,811},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pp_GatesofOlympus1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{609,487},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_MiningRush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{761,325},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_Moleionaire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{913,325},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_MysteryMice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{609,649},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_RatinhoSortudo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{487,811},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pp_SantasXmasRush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{761,487},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_TigreSortudo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{913,487},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_TouroSortudo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{761,649},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pp_WisdomofAthena.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{913,649},{150,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed-winner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{649,811},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wings-iguazu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,160}</string>
                <key>spriteSourceSize</key>
                <string>{150,160}</string>
                <key>textureRect</key>
                <string>{{811,811},{150,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pl_icon_2.png</string>
            <key>size</key>
            <string>{1064,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec4367bdfe6714317ac9264d82522000:cfccaaacf4b323091be17ce941e8dc00:9645e55a507c685a4a41219c758e662b$</string>
            <key>textureFileName</key>
            <string>pl_icon_2.png</string>
        </dict>
    </dict>
</plist>
