<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>862.jpg</key>
<dict>
<key>frame</key>
<string>{{0,0},{220,294}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,294}}</string>
<key>sourceSize</key>
<string>{220,294}</string>
</dict>
<key>433.jpg</key>
<dict>
<key>frame</key>
<string>{{221,0},{220,294}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,294}}</string>
<key>sourceSize</key>
<string>{220,294}</string>
</dict>
<key>10.jpg</key>
<dict>
<key>frame</key>
<string>{{0,295},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>11.jpg</key>
<dict>
<key>frame</key>
<string>{{294,295},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>12.jpg</key>
<dict>
<key>frame</key>
<string>{{442,0},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>136.jpg</key>
<dict>
<key>frame</key>
<string>{{0,517},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>13.jpg</key>
<dict>
<key>frame</key>
<string>{{294,517},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>137.jpg</key>
<dict>
<key>frame</key>
<string>{{588,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>138.jpg</key>
<dict>
<key>frame</key>
<string>{{661,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>139.jpg</key>
<dict>
<key>frame</key>
<string>{{588,515},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>14.jpg</key>
<dict>
<key>frame</key>
<string>{{0,738},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>140.jpg</key>
<dict>
<key>frame</key>
<string>{{294,738},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>141.jpg</key>
<dict>
<key>frame</key>
<string>{{588,736},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>142.jpg</key>
<dict>
<key>frame</key>
<string>{{882,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>145.jpg</key>
<dict>
<key>frame</key>
<string>{{882,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>143.jpg</key>
<dict>
<key>frame</key>
<string>{{882,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>146.jpg</key>
<dict>
<key>frame</key>
<string>{{0,960},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>144.jpg</key>
<dict>
<key>frame</key>
<string>{{294,959},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>148.jpg</key>
<dict>
<key>frame</key>
<string>{{588,957},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>147.jpg</key>
<dict>
<key>frame</key>
<string>{{882,882},{219,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{219,293}}</string>
<key>sourceSize</key>
<string>{219,293}</string>
</dict>
<key>15.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,0},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>149.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>150.jpg</key>
<dict>
<key>frame</key>
<string>{{1103,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>151.jpg</key>
<dict>
<key>frame</key>
<string>{{1102,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>153.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1181},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>152.jpg</key>
<dict>
<key>frame</key>
<string>{{294,1180},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>154.jpg</key>
<dict>
<key>frame</key>
<string>{{588,1178},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>155.jpg</key>
<dict>
<key>frame</key>
<string>{{882,1176},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>156.jpg</key>
<dict>
<key>frame</key>
<string>{{1322,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>190.jpg</key>
<dict>
<key>frame</key>
<string>{{1324,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>191.jpg</key>
<dict>
<key>frame</key>
<string>{{1324,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>192.jpg</key>
<dict>
<key>frame</key>
<string>{{1323,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>21.jpg</key>
<dict>
<key>frame</key>
<string>{{1176,1176},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>22.jpg</key>
<dict>
<key>frame</key>
<string>{{882,1397},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>23.jpg</key>
<dict>
<key>frame</key>
<string>{{588,1399},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>24.jpg</key>
<dict>
<key>frame</key>
<string>{{294,1401},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>32.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1402},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>25.jpg</key>
<dict>
<key>frame</key>
<string>{{1176,1398},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>33.jpg</key>
<dict>
<key>frame</key>
<string>{{1543,0},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>34.jpg</key>
<dict>
<key>frame</key>
<string>{{1545,294},{219,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{219,293}}</string>
<key>sourceSize</key>
<string>{219,293}</string>
</dict>
<key>352.jpg</key>
<dict>
<key>frame</key>
<string>{{1544,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>35.jpg</key>
<dict>
<key>frame</key>
<string>{{1545,588},{219,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{219,293}}</string>
<key>sourceSize</key>
<string>{219,293}</string>
</dict>
<key>36.jpg</key>
<dict>
<key>frame</key>
<string>{{1470,1176},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>361.jpg</key>
<dict>
<key>frame</key>
<string>{{1470,1395},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>362.jpg</key>
<dict>
<key>frame</key>
<string>{{0,1620},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>363.jpg</key>
<dict>
<key>frame</key>
<string>{{882,1619},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>365.jpg</key>
<dict>
<key>frame</key>
<string>{{588,1621},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>366.jpg</key>
<dict>
<key>frame</key>
<string>{{294,1623},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>371.jpg</key>
<dict>
<key>frame</key>
<string>{{1470,1616},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>368.jpg</key>
<dict>
<key>frame</key>
<string>{{1176,1620},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>369.jpg</key>
<dict>
<key>frame</key>
<string>{{1762,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>410.jpg</key>
<dict>
<key>frame</key>
<string>{{1765,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>412.jpg</key>
<dict>
<key>frame</key>
<string>{{1765,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>411.jpg</key>
<dict>
<key>frame</key>
<string>{{1765,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>415.jpg</key>
<dict>
<key>frame</key>
<string>{{1764,1176},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>414.jpg</key>
<dict>
<key>frame</key>
<string>{{1764,1470},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>413.jpg</key>
<dict>
<key>frame</key>
<string>{{1983,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>417.jpg</key>
<dict>
<key>frame</key>
<string>{{1986,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>472.jpg</key>
<dict>
<key>frame</key>
<string>{{1986,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>446.jpg</key>
<dict>
<key>frame</key>
<string>{{1986,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>471.jpg</key>
<dict>
<key>frame</key>
<string>{{1985,1176},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>474.jpg</key>
<dict>
<key>frame</key>
<string>{{1985,1470},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>510.jpg</key>
<dict>
<key>frame</key>
<string>{{2204,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>519.jpg</key>
<dict>
<key>frame</key>
<string>{{2207,294},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>8.jpg</key>
<dict>
<key>frame</key>
<string>{{2207,588},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>477.jpg</key>
<dict>
<key>frame</key>
<string>{{2207,882},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>847.jpg</key>
<dict>
<key>frame</key>
<string>{{2206,1176},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>860.jpg</key>
<dict>
<key>frame</key>
<string>{{2206,1470},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>861.jpg</key>
<dict>
<key>frame</key>
<string>{{2425,0},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>846.jpg</key>
<dict>
<key>frame</key>
<string>{{2426,588},{220,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{220,293}}</string>
<key>sourceSize</key>
<string>{220,293}</string>
</dict>
<key>871.jpg</key>
<dict>
<key>frame</key>
<string>{{2428,294},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>872.jpg</key>
<dict>
<key>frame</key>
<string>{{2428,882},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>900.jpg</key>
<dict>
<key>frame</key>
<string>{{2427,1176},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>9.jpg</key>
<dict>
<key>frame</key>
<string>{{2425,1470},{221,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{221,293}}</string>
<key>sourceSize</key>
<string>{221,293}</string>
</dict>
<key>899.jpg</key>
<dict>
<key>frame</key>
<string>{{2647,0},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>901.jpg</key>
<dict>
<key>frame</key>
<string>{{2646,294},{218,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{218,293}}</string>
<key>sourceSize</key>
<string>{218,293}</string>
</dict>
<key>481.png</key>
<dict>
<key>frame</key>
<string>{{2647,588},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>942.png</key>
<dict>
<key>frame</key>
<string>{{2647,882},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>999.png</key>
<dict>
<key>frame</key>
<string>{{2646,1176},{219,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{219,293}}</string>
<key>sourceSize</key>
<string>{219,293}</string>
</dict>
<key>943.png</key>
<dict>
<key>frame</key>
<string>{{2647,1470},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>998.png</key>
<dict>
<key>frame</key>
<string>{{2866,0},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>944.png</key>
<dict>
<key>frame</key>
<string>{{2866,294},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>945.png</key>
<dict>
<key>frame</key>
<string>{{2866,588},{217,293}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{217,293}}</string>
<key>sourceSize</key>
<string>{217,293}</string>
</dict>
<key>370.jpg</key>
<dict>
<key>frame</key>
<string>{{2866,882},{180,236}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{180,236}}</string>
<key>sourceSize</key>
<string>{180,236}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture.png</string>
<key>textureFileName</key>
<string>texture.png</string>
<key>size</key>
<string>{3085,1844}</string>
</dict>
</dict>
</plist>
