<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>10002_Chin_Shi_Huang.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10004_God_Of_Martial.png</key>
<dict>
<key>frame</key>
<string>{{0,200},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10016-Jungle_King.png</key>
<dict>
<key>frame</key>
<string>{{261,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10027_SevenSevenSeven.png</key>
<dict>
<key>frame</key>
<string>{{261,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10030_Bubble_Beauty.png</key>
<dict>
<key>frame</key>
<string>{{0,400},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10040_Crazy_FaFaFa.png</key>
<dict>
<key>frame</key>
<string>{{461,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10036_Bao_boon_chin.png</key>
<dict>
<key>frame</key>
<string>{{461,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10045_Golden_Bank.png</key>
<dict>
<key>frame</key>
<string>{{0,600},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10047_Charge_Buffalo.png</key>
<dict>
<key>frame</key>
<string>{{261,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10049_Super_Ace.png</key>
<dict>
<key>frame</key>
<string>{{461,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10051-Money_Coming.png</key>
<dict>
<key>frame</key>
<string>{{661,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10085_Pharaoh_Treasure.png</key>
<dict>
<key>frame</key>
<string>{{661,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10077_Boxing_King.png</key>
<dict>
<key>frame</key>
<string>{{661,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10100_Super_Rich_JILI.png</key>
<dict>
<key>frame</key>
<string>{{0,800},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10103_Golden_Empire.png</key>
<dict>
<key>frame</key>
<string>{{261,783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10115_Agent_Ace.png</key>
<dict>
<key>frame</key>
<string>{{522,783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10126_Bone_Fortune.png</key>
<dict>
<key>frame</key>
<string>{{861,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10108_Magic_Lamp.png</key>
<dict>
<key>frame</key>
<string>{{861,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10176_Master_Tiger.png</key>
<dict>
<key>frame</key>
<string>{{861,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10183_Golden_Joker.png</key>
<dict>
<key>frame</key>
<string>{{783,783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>10193_Devil_Fire.png</key>
<dict>
<key>frame</key>
<string>{{0,1000},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>121_Destiny_of_Sun_&_Moon.png</key>
<dict>
<key>frame</key>
<string>{{261,983},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>126_Fortune_Tiger.png</key>
<dict>
<key>frame</key>
<string>{{522,983},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>130_Lucky_Piggy.png</key>
<dict>
<key>frame</key>
<string>{{783,983},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1543462_Fortune_Rabbit.png</key>
<dict>
<key>frame</key>
<string>{{1061,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1473388_Cruise_Royale.png</key>
<dict>
<key>frame</key>
<string>{{1061,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1572362_Gladiator_s_Glory.png</key>
<dict>
<key>frame</key>
<string>{{1061,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1695365_Fortune_Dragon.png</key>
<dict>
<key>frame</key>
<string>{{1044,783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1702123_Geisha_s_Revenge.png</key>
<dict>
<key>frame</key>
<string>{{0,1200},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1747549_Wings_of_lguazu.png</key>
<dict>
<key>frame</key>
<string>{{261,1183},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1755623_Museum_Mystery.png</key>
<dict>
<key>frame</key>
<string>{{1044,1044},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1760238-Yakuza_Honor.png</key>
<dict>
<key>frame</key>
<string>{{522,1183},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1778752_Futebol_Fever.png</key>
<dict>
<key>frame</key>
<string>{{783,1183},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1799745_Mr.Treasure_s_Fortune .png</key>
<dict>
<key>frame</key>
<string>{{1261,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1804577_Graffiti_Rush.png</key>
<dict>
<key>frame</key>
<string>{{1261,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1815268_Oishi_Delights.png</key>
<dict>
<key>frame</key>
<string>{{1261,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1865521_Dead_Man_s_Riches.jpg</key>
<dict>
<key>frame</key>
<string>{{1244,783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1879752_Fortune_Snake-pg.png</key>
<dict>
<key>frame</key>
<string>{{1244,1044},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1903012_Grimms_Bounty_Hansel_Gretel.png</key>
<dict>
<key>frame</key>
<string>{{0,1400},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>1_Honey_Trap_of_Diao_Chan.png</key>
<dict>
<key>frame</key>
<string>{{261,1383},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>54_Captain_s_Bounty.png</key>
<dict>
<key>frame</key>
<string>{{522,1383},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>68_Fortune_Mouse.png</key>
<dict>
<key>frame</key>
<string>{{783,1383},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>98_Fortune_Ox.png</key>
<dict>
<key>frame</key>
<string>{{1044,1305},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20001_Gates_of_Olympus.png</key>
<dict>
<key>frame</key>
<string>{{1244,1305},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20002_Starlight_Princess_Pachi.png</key>
<dict>
<key>frame</key>
<string>{{1461,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20005_Sweet_Bonanza_100.png</key>
<dict>
<key>frame</key>
<string>{{1461,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20006_Revenge_of_Loki_Megaways.png</key>
<dict>
<key>frame</key>
<string>{{1461,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20007_Wukong_Rush.png</key>
<dict>
<key>frame</key>
<string>{{1444,783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20008_Sugar_Rush.png</key>
<dict>
<key>frame</key>
<string>{{1444,1044},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20010_Power_of_Ninja.png</key>
<dict>
<key>frame</key>
<string>{{1444,1305},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20011_Great_Lagoon_PP.png</key>
<dict>
<key>frame</key>
<string>{{0,1600},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20014_Joker_s_Jewels.png</key>
<dict>
<key>frame</key>
<string>{{261,1583},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20015_Starlight_Princess.png</key>
<dict>
<key>frame</key>
<string>{{522,1583},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20019_Fire_Portals.png</key>
<dict>
<key>frame</key>
<string>{{783,1583},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20018_Angel_vs_Sinner-png.png</key>
<dict>
<key>frame</key>
<string>{{1044,1566},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20020_Big_Bass_Splash.png</key>
<dict>
<key>frame</key>
<string>{{1305,1566},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20021_Mystery_Mice.png</key>
<dict>
<key>frame</key>
<string>{{1661,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20023_The_Dog_House_Png.png</key>
<dict>
<key>frame</key>
<string>{{1661,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20026-Spirit_of_Adventure.png</key>
<dict>
<key>frame</key>
<string>{{1661,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20035_Big_Bass_Halloween_2.png</key>
<dict>
<key>frame</key>
<string>{{1644,783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20039_Big_Bass_Halloween.png</key>
<dict>
<key>frame</key>
<string>{{1644,1044},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20040_Mahjong_Wins_3_-_Black_Scatter.png</key>
<dict>
<key>frame</key>
<string>{{1644,1305},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20041_Vampy_Party.png</key>
<dict>
<key>frame</key>
<string>{{1566,1566},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20042_Wisdom_Of_Athena_1000.png</key>
<dict>
<key>frame</key>
<string>{{0,1800},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20051_8_Golden_Dragon_Challenge.png</key>
<dict>
<key>frame</key>
<string>{{261,1783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20056_Rainbow_Reels.png</key>
<dict>
<key>frame</key>
<string>{{522,1783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20065_Wisdom_of_Athena.png</key>
<dict>
<key>frame</key>
<string>{{783,1783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20098_Santa_s_Wonderland.png</key>
<dict>
<key>frame</key>
<string>{{1044,1766},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20111_Buffalo_King_Megaways.png</key>
<dict>
<key>frame</key>
<string>{{1305,1766},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20114_Ratinho_Sortudo.png</key>
<dict>
<key>frame</key>
<string>{{1566,1766},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20137_TouroSortudo.png</key>
<dict>
<key>frame</key>
<string>{{1861,0},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20156_Wolf_Gold_4_Pack.png</key>
<dict>
<key>frame</key>
<string>{{1861,261},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20179_Lucky_Dog.png</key>
<dict>
<key>frame</key>
<string>{{1861,522},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20173_Starlight_Wins.png</key>
<dict>
<key>frame</key>
<string>{{1844,783},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
<key>20182_Lucky_Mouse.png</key>
<dict>
<key>frame</key>
<string>{{1844,1044},{260,199}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{260,199}}</string>
<key>sourceSize</key>
<string>{260,199}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture.png</string>
<key>textureFileName</key>
<string>texture.png</string>
<key>size</key>
<string>{2060,1999}</string>
</dict>
</dict>
</plist>
