<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{308,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,240}</string>
			</dict>
			<key>btn_cd.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,2},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>btn_ck.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,2},{258,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,64}</string>
			</dict>
			<key>btn_cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,2},{211,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,93}</string>
			</dict>
			<key>btn_fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,72},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>btn_hz.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,2},{258,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,64}</string>
			</dict>
			<key>btn_lt.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,72},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,62}</string>
			</dict>
			<key>btn_wf.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,2},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>newZjhLobby.png</string>
			<key>realTextureFileName</key>
			<string>newZjhLobby.png</string>
			<key>size</key>
			<string>{997,262}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>997</integer>
			<key>height</key>
			<integer>262</integer>
		</dict>
	</dict>
</plist>