<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1175,56},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{1241,56},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,102}</string>
                <key>textureRect</key>
                <string>{{1652,80},{46,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,102}</string>
                <key>textureRect</key>
                <string>{{972,39},{46,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_xz_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,36}</string>
                <key>spriteSourceSize</key>
                <string>{212,36}</string>
                <key>textureRect</key>
                <string>{{748,56},{212,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xz_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,36}</string>
                <key>spriteSourceSize</key>
                <string>{212,36}</string>
                <key>textureRect</key>
                <string>{{972,1},{212,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,53}</string>
                <key>spriteSourceSize</key>
                <string>{116,53}</string>
                <key>textureRect</key>
                <string>{{1186,1},{116,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_jq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,53}</string>
                <key>spriteSourceSize</key>
                <string>{116,53}</string>
                <key>textureRect</key>
                <string>{{1304,1},{116,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1302,56},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pddTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,64}</string>
                <key>spriteSourceSize</key>
                <string>{99,64}</string>
                <key>textureRect</key>
                <string>{{1074,39},{99,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{1355,56},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_withdraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,53}</string>
                <key>spriteSourceSize</key>
                <string>{222,53}</string>
                <key>textureRect</key>
                <string>{{748,1},{222,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,77}</string>
                <key>spriteSourceSize</key>
                <string>{91,77}</string>
                <key>textureRect</key>
                <string>{{1652,1},{91,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,55}</string>
                <key>spriteSourceSize</key>
                <string>{289,55}</string>
                <key>textureRect</key>
                <string>{{457,1},{289,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jq_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,55}</string>
                <key>spriteSourceSize</key>
                <string>{289,55}</string>
                <key>textureRect</key>
                <string>{{457,58},{289,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modulesBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,454}</string>
                <key>spriteSourceSize</key>
                <string>{125,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1540,1},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1422,1},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pl_tmp_plist.png</string>
            <key>size</key>
            <string>{1753,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e02eb98a9f18624c912e9d11230d5b8:cf562f42ce552f7563bb15ba48282d82:cec3b9d9599c3f2d1f6f39aa1c62edaa$</string>
            <key>textureFileName</key>
            <string>pl_tmp_plist.png</string>
        </dict>
    </dict>
</plist>
