<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ta_haiwai_mohuandaobao_wuya1.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1837},{113,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{412,1837},{113,134}}</string>
				<key>sourceSize</key>
				<string>{113,134}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya10.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,444},{176,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{688,444},{176,145}}</string>
				<key>sourceSize</key>
				<string>{176,147}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya11.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1391},{171,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{670,1391},{171,140}}</string>
				<key>sourceSize</key>
				<string>{171,140}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1921},{56,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1921},{56,27}}</string>
				<key>sourceSize</key>
				<string>{56,27}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya13.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,1532},{53,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,1532},{53,42}}</string>
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya2.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1859},{86,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,1859},{86,104}}</string>
				<key>sourceSize</key>
				<string>{86,104}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya3.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,1382},{83,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,1382},{83,148}}</string>
				<key>sourceSize</key>
				<string>{83,148}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya4.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1875},{78,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{527,1875},{78,151}}</string>
				<key>sourceSize</key>
				<string>{78,151}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya5.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1312},{77,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{674,1312},{77,155}}</string>
				<key>sourceSize</key>
				<string>{77,155}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya6.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1805},{113,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{538,1805},{113,68}}</string>
				<key>sourceSize</key>
				<string>{113,68}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya8.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1707},{117,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{670,1707},{117,143}}</string>
				<key>sourceSize</key>
				<string>{117,143}</string>
			</dict>
			<key>ta_haiwai_mohuandaobao_wuya9.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,1826},{139,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{680,1826},{139,140}}</string>
				<key>sourceSize</key>
				<string>{139,140}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,437},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,437},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,2},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{424,2},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,649},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,649},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,214},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{424,214},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,861},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,861},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1073},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1073},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1285},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1285},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1497},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1497},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1709},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1709},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,437},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,437},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haidai_mohuandaobao_wuya_guang_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,739},{300,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,739},{300,210}}</string>
				<key>sourceSize</key>
				<string>{300,210}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1533},{156,172}}</string>
				<key>offset</key>
				<string>{53,20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{670,1533},{156,172}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,622},{178,164}}</string>
				<key>offset</key>
				<string>{38,24}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,622},{178,164}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,800},{196,142}}</string>
				<key>offset</key>
				<string>{19,35}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{516,800},{196,142}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1201},{212,98}}</string>
				<key>offset</key>
				<string>{6,57}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{436,1201},{212,98}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,2},{232,110}}</string>
				<key>offset</key>
				<string>{-6,51}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{726,2},{232,110}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1201},{222,130}}</string>
				<key>offset</key>
				<string>{-22,40}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,1201},{222,130}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1041},{208,158}}</string>
				<key>offset</key>
				<string>{-31,26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,1041},{208,158}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1128},{152,182}}</string>
				<key>offset</key>
				<string>{-59,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{674,1128},{152,182}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,998},{142,186}}</string>
				<key>offset</key>
				<string>{-63,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,998},{142,186}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,1425},{132,190}}</string>
				<key>offset</key>
				<string>{-67,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{434,1425},{132,190}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,970},{156,178}}</string>
				<key>offset</key>
				<string>{-52,-16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{660,970},{156,178}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,802},{178,166}}</string>
				<key>offset</key>
				<string>{-37,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,802},{178,166}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1639},{196,124}}</string>
				<key>offset</key>
				<string>{-19,-43}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{412,1639},{196,124}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,236},{206,102}}</string>
				<key>offset</key>
				<string>{0,-54}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{726,236},{206,102}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1639},{218,106}}</string>
				<key>offset</key>
				<string>{15,-52}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,1639},{218,106}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1425},{212,128}}</string>
				<key>offset</key>
				<string>{29,-41}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,1425},{212,128}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,610},{188,158}}</string>
				<key>offset</key>
				<string>{41,-26}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{516,610},{188,158}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,426},{170,182}}</string>
				<key>offset</key>
				<string>{50,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,426},{170,182}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1617},{130,186}}</string>
				<key>offset</key>
				<string>{70,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{538,1617},{130,186}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_haiwai_mohuandaobao_wuya_huanarao_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1186},{136,194}}</string>
				<key>offset</key>
				<string>{66,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{536,1186},{136,194}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_youxichang_wangzha_light03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{420,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{420,433}}</string>
				<key>sourceSize</key>
				<string>{420,433}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>tx_haiwai_mohuandaobao_wuyazhongjiang.png</string>
			<key>size</key>
			<string>{843,1973}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>tx_haiwai_mohuandaobao_wuyazhongjiang.png</string>
		</dict>
	</dict>
</plist>
