<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tx_jz_caidai_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{304,254}}</string>
				<key>offset</key>
				<string>{-77,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{304,254}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,2},{332,308}}</string>
				<key>offset</key>
				<string>{-49,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1440,2},{332,308}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,312},{380,320}}</string>
				<key>offset</key>
				<string>{-23,20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,312},{380,320}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,312},{398,322}}</string>
				<key>offset</key>
				<string>{-14,18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,312},{398,322}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,638},{406,324}}</string>
				<key>offset</key>
				<string>{-9,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,638},{406,324}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,638},{408,324}}</string>
				<key>offset</key>
				<string>{-6,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{820,638},{408,324}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,312},{408,324}}</string>
				<key>offset</key>
				<string>{-8,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1482,312},{408,324}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,312},{402,324}}</string>
				<key>offset</key>
				<string>{-7,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1078,312},{402,324}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,638},{408,324}}</string>
				<key>offset</key>
				<string>{-8,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{410,638},{408,324}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,966},{410,326}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,966},{410,326}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,966},{408,330}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{414,966},{408,330}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1526,966},{406,336}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1526,966},{406,336}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1304},{404,340}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1004,1304},{404,340}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1304},{404,340}}</string>
				<key>offset</key>
				<string>{-8,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1410,1304},{404,340}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1304},{404,336}}</string>
				<key>offset</key>
				<string>{-7,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,1304},{404,336}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,966},{402,334}}</string>
				<key>offset</key>
				<string>{-8,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1122,966},{402,334}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1304},{296,338}}</string>
				<key>offset</key>
				<string>{-61,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{706,1304},{296,338}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1304},{296,336}}</string>
				<key>offset</key>
				<string>{-60,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1304},{296,336}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,966},{296,332}}</string>
				<key>offset</key>
				<string>{-60,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{824,966},{296,332}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,638},{294,326}}</string>
				<key>offset</key>
				<string>{-59,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1230,638},{294,326}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,312},{292,324}}</string>
				<key>offset</key>
				<string>{-58,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{784,312},{292,324}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,2},{290,304}}</string>
				<key>offset</key>
				<string>{-57,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1148,2},{290,304}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,2},{286,292}}</string>
				<key>offset</key>
				<string>{-57,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{860,2},{286,292}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,2},{208,290}}</string>
				<key>offset</key>
				<string>{-34,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,2},{208,290}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,2},{208,286}}</string>
				<key>offset</key>
				<string>{-34,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{440,2},{208,286}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,2},{94,270}}</string>
				<key>offset</key>
				<string>{24,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{344,2},{94,270}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
			<key>tx_jz_caidai_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,2},{34,266}}</string>
				<key>offset</key>
				<string>{7,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{308,2},{34,266}}</string>
				<key>sourceSize</key>
				<string>{460,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>tx_jz_caidai.png</string>
			<key>size</key>
			<string>{1934,1646}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>tx_jz_caidai.png</string>
		</dict>
	</dict>
</plist>
