<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{82,96}</string>
                <key>textureRect</key>
                <string>{{1,158},{82,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,109}</string>
                <key>spriteSourceSize</key>
                <string>{138,109}</string>
                <key>textureRect</key>
                <string>{{661,1},{138,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,155}</string>
                <key>spriteSourceSize</key>
                <string>{151,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,120}</string>
                <key>spriteSourceSize</key>
                <string>{152,120}</string>
                <key>textureRect</key>
                <string>{{154,1},{152,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,147}</string>
                <key>spriteSourceSize</key>
                <string>{149,147}</string>
                <key>textureRect</key>
                <string>{{276,1},{149,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,90}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{154,155},{107,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,91}</string>
                <key>spriteSourceSize</key>
                <string>{93,91}</string>
                <key>textureRect</key>
                <string>{{361,152},{93,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{92,94}</string>
                <key>textureRect</key>
                <string>{{558,151},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{263,155},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{102,92}</string>
                <key>textureRect</key>
                <string>{{454,152},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,120}</string>
                <key>textureRect</key>
                <string>{{661,112},{132,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,116}</string>
                <key>spriteSourceSize</key>
                <string>{149,116}</string>
                <key>textureRect</key>
                <string>{{425,1},{149,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{543,1},{148,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plist.png</string>
            <key>size</key>
            <string>{800,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff4236266e88d5f72d0bead9e0f9b1f2:40bbc95995881766508d637a04be88d8:64b31c72cb4d8630b2ffcce4db9c3601$</string>
            <key>textureFileName</key>
            <string>plist.png</string>
        </dict>
    </dict>
</plist>
