<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{82,96}</string>
                <key>textureRect</key>
                <string>{{1,352},{82,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,90}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{306,1},{107,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,120}</string>
                <key>spriteSourceSize</key>
                <string>{152,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,147}</string>
                <key>spriteSourceSize</key>
                <string>{149,147}</string>
                <key>textureRect</key>
                <string>{{155,1},{149,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,91}</string>
                <key>spriteSourceSize</key>
                <string>{93,91}</string>
                <key>textureRect</key>
                <string>{{85,352},{93,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{92,94}</string>
                <key>textureRect</key>
                <string>{{302,208},{92,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{306,110},{96,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{102,92}</string>
                <key>textureRect</key>
                <string>{{300,302},{102,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,120}</string>
                <key>textureRect</key>
                <string>{{178,268},{132,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Symbol_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,116}</string>
                <key>spriteSourceSize</key>
                <string>{149,116}</string>
                <key>textureRect</key>
                <string>{{1,123},{149,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{152,150},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Symbol_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,109}</string>
                <key>spriteSourceSize</key>
                <string>{138,109}</string>
                <key>textureRect</key>
                <string>{{1,241},{138,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbol_pl.png</string>
            <key>size</key>
            <string>{397,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a31ce893bbd610f22be03eab1b6cb6a:72a5bd08728167fdd8e89b08b4ddfc56:7ccbaef911e5341c875cad315345ba7c$</string>
            <key>textureFileName</key>
            <string>symbol_pl.png</string>
        </dict>
    </dict>
</plist>
