<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guangshu_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,588},{1024,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,588},{1024,512}}</string>
				<key>sourceSize</key>
				<string>{1024,512}</string>
			</dict>
			<key>mao_free3.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,624},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{516,624},{32,45}}</string>
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>mao_free4.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,658},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{516,658},{32,45}}</string>
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>mao_free5.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,692},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{516,692},{32,45}}</string>
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>mhdb_mao10_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,1158},{120,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{880,1158},{120,140}}</string>
				<key>sourceSize</key>
				<string>{120,140}</string>
			</dict>
			<key>mhdb_mao11_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,1300},{120,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{880,1300},{120,140}}</string>
				<key>sourceSize</key>
				<string>{120,140}</string>
			</dict>
			<key>mhdb_mao12_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1482},{120,138}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{694,1482},{120,138}}</string>
				<key>sourceSize</key>
				<string>{120,140}</string>
			</dict>
			<key>mhdb_mao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,848},{108,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{704,848},{108,95}}</string>
				<key>sourceSize</key>
				<string>{108,95}</string>
			</dict>
			<key>mhdb_mao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,958},{81,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{704,958},{81,84}}</string>
				<key>sourceSize</key>
				<string>{81,84}</string>
			</dict>
			<key>mhdb_mao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,726},{35,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,726},{35,86}}</string>
				<key>sourceSize</key>
				<string>{35,86}</string>
			</dict>
			<key>mhdb_mao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1322},{176,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1322},{176,144}}</string>
				<key>sourceSize</key>
				<string>{176,148}</string>
			</dict>
			<key>mhdb_mao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1468},{176,144}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,1468},{176,144}}</string>
				<key>sourceSize</key>
				<string>{176,146}</string>
			</dict>
			<key>mhdb_mao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,588},{73,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,588},{73,34}}</string>
				<key>sourceSize</key>
				<string>{73,34}</string>
			</dict>
			<key>mhdb_mao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,624},{21,15}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{563,624},{21,15}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>mhdb_mao9_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1482},{120,118}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{834,1482},{120,118}}</string>
				<key>sourceSize</key>
				<string>{176,148}</string>
			</dict>
			<key>mhdb_maok000.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1324},{156,172}}</string>
				<key>offset</key>
				<string>{53,20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{694,1324},{156,172}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok001.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1158},{178,164}}</string>
				<key>offset</key>
				<string>{38,24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{700,1158},{178,164}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok002.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,464},{196,142}}</string>
				<key>offset</key>
				<string>{19,35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{806,464},{196,142}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok003.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,484},{212,98}}</string>
				<key>offset</key>
				<string>{6,57}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{592,484},{212,98}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok004.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,2},{232,110}}</string>
				<key>offset</key>
				<string>{-6,51}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{592,2},{232,110}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok005.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,114},{222,130}}</string>
				<key>offset</key>
				<string>{-22,40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{592,114},{222,130}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok006.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,584},{208,158}}</string>
				<key>offset</key>
				<string>{-31,26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{592,584},{208,158}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok007.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1004},{152,182}}</string>
				<key>offset</key>
				<string>{-59,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{790,1004},{152,182}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok008.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,848},{142,186}}</string>
				<key>offset</key>
				<string>{-63,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{516,848},{142,186}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok009.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,330},{132,190}}</string>
				<key>offset</key>
				<string>{-67,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{812,330},{132,190}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok010.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1164},{156,178}}</string>
				<key>offset</key>
				<string>{-52,-16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{516,1164},{156,178}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok011.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,2},{178,166}}</string>
				<key>offset</key>
				<string>{-37,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{826,2},{178,166}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok012.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,608},{196,124}}</string>
				<key>offset</key>
				<string>{-19,-43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{802,608},{196,124}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok013.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,744},{206,102}}</string>
				<key>offset</key>
				<string>{0,-54}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,744},{206,102}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok014.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,246},{218,106}}</string>
				<key>offset</key>
				<string>{15,-52}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{592,246},{218,106}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok015.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,354},{212,128}}</string>
				<key>offset</key>
				<string>{29,-41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{592,354},{212,128}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok016.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,170},{188,158}}</string>
				<key>offset</key>
				<string>{41,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{816,170},{188,158}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok017.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,992},{170,182}}</string>
				<key>offset</key>
				<string>{50,-14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{516,992},{170,182}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok018.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,872},{130,186}}</string>
				<key>offset</key>
				<string>{70,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{801,872},{130,186}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>mhdb_maok019.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,734},{136,194}}</string>
				<key>offset</key>
				<string>{66,9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{802,734},{136,194}}</string>
				<key>sourceSize</key>
				<string>{270,220}</string>
			</dict>
			<key>tx_ty_guangyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{588,584}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{588,584}}</string>
				<key>sourceSize</key>
				<string>{588,584}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>mhdb_mao.png</string>
			<key>size</key>
			<string>{1006,1614}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>mhdb_mao.png</string>
		</dict>
	</dict>
</plist>
