<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{1,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{1,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{1,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{1,669},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{1,836},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{123,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{123,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{123,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{123,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{123,669},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{123,836},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{245,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{245,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{245,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{245,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{245,669},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{245,836},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{367,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{367,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{367,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{367,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{367,669},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{367,836},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{489,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{489,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{489,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{489,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{489,669},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{489,836},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{611,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{611,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{611,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{611,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{611,669},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{611,836},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{733,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{733,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{733,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{733,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{733,669},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{733,836},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{855,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{855,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{855,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{855,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{855,669},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{855,836},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,162}</string>
                <key>spriteSourceSize</key>
                <string>{117,162}</string>
                <key>textureRect</key>
                <string>{{977,669},{117,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{977,1},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{977,168},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{977,335},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,165}</string>
                <key>spriteSourceSize</key>
                <string>{120,165}</string>
                <key>textureRect</key>
                <string>{{977,502},{120,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pl_card.png</string>
            <key>size</key>
            <string>{1098,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:301f69d4342ee0233f9278a049cbebd2:a6d9f5f6fcba1df1c29602784484faf8:7edc438ce5afa413664a449dfefce933$</string>
            <key>textureFileName</key>
            <string>pl_card.png</string>
        </dict>
    </dict>
</plist>
