<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{75,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{75,85}</string>
                <key>textureRect</key>
                <string>{{78,1},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{75,85}</string>
                <key>textureRect</key>
                <string>{{155,1},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{75,85}</string>
                <key>textureRect</key>
                <string>{{232,1},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{75,85}</string>
                <key>textureRect</key>
                <string>{{309,1},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{75,85}</string>
                <key>textureRect</key>
                <string>{{386,1},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>benefits_list.png</string>
            <key>size</key>
            <string>{462,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:662a463b818dc80211e3c87ce7b3e8df:d8cfe3d1ef419f76f38e6262a06cb3e6:71f86690ba18ee670d6e351ea806b54a$</string>
            <key>textureFileName</key>
            <string>benefits_list.png</string>
        </dict>
    </dict>
</plist>
