<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,287},{973,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{973,172}</string>
			</dict>
			<key>bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{973,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{973,281}</string>
			</dict>
			<key>bg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,2},{970,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{970,38}</string>
			</dict>
			<key>bg_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,976},{970,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{970,38}</string>
			</dict>
			<key>icon_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,921},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>icon_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,948},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>title_lhzs.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,463},{416,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{416,41}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,976},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>icon_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,883},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>icon_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,921},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>icon_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,883},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>trendChart.png</string>
			<key>realTextureFileName</key>
			<string>trendChart.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>