<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>+1Picks.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1007},{122,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{612,1007},{122,33}}</string>
				<key>sourceSize</key>
				<string>{122,33}</string>
			</dict>
			<key>+1Picks_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1988},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,1988},{130,31}}</string>
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>+1Picks_meng.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1198},{112,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,1198},{112,39}}</string>
				<key>sourceSize</key>
				<string>{112,39}</string>
			</dict>
			<key>+2Picks.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1540},{126,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,1540},{126,33}}</string>
				<key>sourceSize</key>
				<string>{126,33}</string>
			</dict>
			<key>+2Picks_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1988},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1988},{130,31}}</string>
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>+2Picks_meng.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1158},{112,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,1158},{112,39}}</string>
				<key>sourceSize</key>
				<string>{112,39}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1886},{168,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{776,1886},{168,158}}</string>
				<key>sourceSize</key>
				<string>{168,158}</string>
			</dict>
			<key>1x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,1266},{59,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,1266},{59,51}}</string>
				<key>sourceSize</key>
				<string>{59,51}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1450},{171,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{858,1450},{171,175}}</string>
				<key>sourceSize</key>
				<string>{171,175}</string>
			</dict>
			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,1411},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{949,1411},{43,36}}</string>
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,1212},{67,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,1212},{67,53}}</string>
				<key>sourceSize</key>
				<string>{67,53}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1735},{171,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{776,1735},{171,150}}</string>
				<key>sourceSize</key>
				<string>{171,150}</string>
			</dict>
			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1411},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{904,1411},{44,36}}</string>
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>30line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,369},{89,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1052,369},{89,114}}</string>
				<key>sourceSize</key>
				<string>{89,114}</string>
			</dict>
			<key>30line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,115},{89,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1043,115},{89,114}}</string>
				<key>sourceSize</key>
				<string>{89,114}</string>
			</dict>
			<key>30line2_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,1042},{89,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1047,1042},{89,114}}</string>
				<key>sourceSize</key>
				<string>{89,114}</string>
			</dict>
			<key>30line_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,0},{89,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1043,0},{89,114}}</string>
				<key>sourceSize</key>
				<string>{89,114}</string>
			</dict>
			<key>3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,1157},{67,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,1157},{67,54}}</string>
				<key>sourceSize</key>
				<string>{67,54}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1007},{171,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,1007},{171,150}}</string>
				<key>sourceSize</key>
				<string>{171,150}</string>
			</dict>
			<key>4x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1659},{67,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1068,1659},{67,51}}</string>
				<key>sourceSize</key>
				<string>{67,51}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1886},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{945,1886},{120,119}}</string>
				<key>sourceSize</key>
				<string>{120,119}</string>
			</dict>
			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1002},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{933,1002},{43,36}}</string>
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,230},{67,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1043,230},{67,52}}</string>
				<key>sourceSize</key>
				<string>{67,52}</string>
			</dict>
			<key>6_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1626},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{948,1626},{119,119}}</string>
				<key>sourceSize</key>
				<string>{119,119}</string>
			</dict>
			<key>7_q.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1042},{113,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{933,1042},{113,114}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>
			<key>8_j.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1746},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{948,1746},{109,109}}</string>
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>Player_.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1481},{112,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{725,1481},{112,33}}</string>
				<key>sourceSize</key>
				<string>{112,33}</string>
			</dict>
			<key>Player_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,2006},{92,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{945,2006},{92,41}}</string>
				<key>sourceSize</key>
				<string>{92,41}</string>
			</dict>
			<key>TabalBet.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,2020},{78,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,2020},{78,16}}</string>
				<key>sourceSize</key>
				<string>{78,16}</string>
			</dict>
			<key>TabalBet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1917},{282,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1917},{282,70}}</string>
				<key>sourceSize</key>
				<string>{282,70}</string>
			</dict>
			<key>TabalBet_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1848},{71,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{677,1848},{71,26}}</string>
				<key>sourceSize</key>
				<string>{71,26}</string>
			</dict>
			<key>baoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,286},{99,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1018,286},{99,82}}</string>
				<key>sourceSize</key>
				<string>{99,82}</string>
			</dict>
			<key>baoxiang_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1007},{123,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{488,1007},{123,33}}</string>
				<key>sourceSize</key>
				<string>{123,33}</string>
			</dict>
			<key>bianfu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,1318},{46,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1073,1318},{46,65}}</string>
				<key>sourceSize</key>
				<string>{46,65}</string>
			</dict>
			<key>bianfu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,415},{898,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,415},{898,86}}</string>
				<key>sourceSize</key>
				<string>{898,86}</string>
			</dict>
			<key>bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1540},{180,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{677,1540},{180,194}}</string>
				<key>sourceSize</key>
				<string>{180,194}</string>
			</dict>
			<key>bonusdibu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1042,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1042,142}}</string>
				<key>sourceSize</key>
				<string>{1042,142}</string>
			</dict>
			<key>bonusdibu_bg_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,143},{1042,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,143},{1042,142}}</string>
				<key>sourceSize</key>
				<string>{1042,142}</string>
			</dict>
			<key>bt_cishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1963},{158,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{577,1963},{158,72}}</string>
				<key>sourceSize</key>
				<string>{158,72}</string>
			</dict>
			<key>btn_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1875},{198,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{577,1875},{198,87}}</string>
				<key>sourceSize</key>
				<string>{198,87}</string>
			</dict>
			<key>bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1052},{452,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1052},{452,398}}</string>
				<key>sourceSize</key>
				<string>{452,398}</string>
			</dict>
			<key>bx_jinbi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,979},{487,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,979},{487,72}}</string>
				<key>sourceSize</key>
				<string>{487,72}</string>
			</dict>
			<key>choosetitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{980,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,363},{980,51}}</string>
				<key>sourceSize</key>
				<string>{980,51}</string>
			</dict>
			<key>choosetitle_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{1017,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,286},{1017,76}}</string>
				<key>sourceSize</key>
				<string>{1017,76}</string>
			</dict>
			<key>cishu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,593},{176,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{829,593},{176,408}}</string>
				<key>sourceSize</key>
				<string>{176,408}</string>
			</dict>
			<key>dibu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1451},{451,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1451},{451,55}}</string>
				<key>sourceSize</key>
				<string>{451,55}</string>
			</dict>
			<key>down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,1956},{82,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1066,1956},{82,69}}</string>
				<key>sourceSize</key>
				<string>{82,69}</string>
			</dict>
			<key>down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1746},{82,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1058,1746},{82,69}}</string>
				<key>sourceSize</key>
				<string>{82,69}</string>
			</dict>
			<key>feature.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,415},{152,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{899,415},{152,171}}</string>
				<key>sourceSize</key>
				<string>{152,171}</string>
			</dict>
			<key>free_pespin_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1507},{440,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1507},{440,71}}</string>
				<key>sourceSize</key>
				<string>{440,71}</string>
			</dict>
			<key>free_spins.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,2020},{127,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,2020},{127,23}}</string>
				<key>sourceSize</key>
				<string>{127,23}</string>
			</dict>
			<key>free_spins_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1815},{94,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{677,1815},{94,32}}</string>
				<key>sourceSize</key>
				<string>{94,32}</string>
			</dict>
			<key>freespins_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1884},{304,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1884},{304,32}}</string>
				<key>sourceSize</key>
				<string>{304,32}</string>
			</dict>
			<key>guanzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1735},{98,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{677,1735},{98,79}}</string>
				<key>sourceSize</key>
				<string>{98,79}</string>
			</dict>
			<key>img_touxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1626},{86,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{858,1626},{86,87}}</string>
				<key>sourceSize</key>
				<string>{86,87}</string>
			</dict>
			<key>infinite.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1238},{54,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,1238},{54,30}}</string>
				<key>sourceSize</key>
				<string>{54,30}</string>
			</dict>
			<key>jinbi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1450},{120,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{725,1450},{120,30}}</string>
				<key>sourceSize</key>
				<string>{120,30}</string>
			</dict>
			<key>max_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,484},{84,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1052,484},{84,60}}</string>
				<key>sourceSize</key>
				<string>{84,60}</string>
			</dict>
			<key>max_bet_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,1526},{84,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1030,1526},{84,60}}</string>
				<key>sourceSize</key>
				<string>{84,60}</string>
			</dict>
			<key>num_diban.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,746},{803,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,746},{803,126}}</string>
				<key>sourceSize</key>
				<string>{803,126}</string>
			</dict>
			<key>picks_left_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,1540},{98,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,1540},{98,37}}</string>
				<key>sourceSize</key>
				<string>{98,37}</string>
			</dict>
			<key>picksleft_.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2020},{128,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2020},{128,25}}</string>
				<key>sourceSize</key>
				<string>{128,25}</string>
			</dict>
			<key>scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1052},{307,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,1052},{307,219}}</string>
				<key>sourceSize</key>
				<string>{307,219}</string>
			</dict>
			<key>spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,873},{271,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{557,873},{271,133}}</string>
				<key>sourceSize</key>
				<string>{271,133}</string>
			</dict>
			<key>spin_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1272},{271,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,1272},{271,133}}</string>
				<key>sourceSize</key>
				<string>{271,133}</string>
			</dict>
			<key>stop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1884},{271,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,1884},{271,133}}</string>
				<key>sourceSize</key>
				<string>{271,133}</string>
			</dict>
			<key>stop1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1406},{271,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,1406},{271,133}}</string>
				<key>sourceSize</key>
				<string>{271,133}</string>
			</dict>
			<key>text_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,593},{807,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,593},{807,152}}</string>
				<key>sourceSize</key>
				<string>{807,152}</string>
			</dict>
			<key>touxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1587},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1068,1587},{72,71}}</string>
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>tx_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,587},{133,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1006,587},{133,454}}</string>
				<key>sourceSize</key>
				<string>{133,454}</string>
			</dict>
			<key>tx_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,1411},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1030,1411},{96,114}}</string>
				<key>sourceSize</key>
				<string>{96,114}</string>
			</dict>
			<key>up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1816},{82,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1058,1816},{82,69}}</string>
				<key>sourceSize</key>
				<string>{82,69}</string>
			</dict>
			<key>up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,1886},{82,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1066,1886},{82,69}}</string>
				<key>sourceSize</key>
				<string>{82,69}</string>
			</dict>
			<key>wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1272},{178,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{725,1272},{178,177}}</string>
				<key>sourceSize</key>
				<string>{178,177}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1988},{42,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,1988},{42,18}}</string>
				<key>sourceSize</key>
				<string>{42,18}</string>
			</dict>
			<key>win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,873},{556,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,873},{556,105}}</string>
				<key>sourceSize</key>
				<string>{556,105}</string>
			</dict>
			<key>win_india.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,2018},{68,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,2018},{68,25}}</string>
				<key>sourceSize</key>
				<string>{68,25}</string>
			</dict>
			<key>xiaogui.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1158},{168,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{904,1158},{168,252}}</string>
				<key>sourceSize</key>
				<string>{168,252}</string>
			</dict>
			<key>youtu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1579},{342,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1579},{342,304}}</string>
				<key>sourceSize</key>
				<string>{342,304}</string>
			</dict>
			<key>yun.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,502},{888,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,502},{888,90}}</string>
				<key>sourceSize</key>
				<string>{888,90}</string>
			</dict>
			<key>zuotu.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1579},{333,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,1579},{333,295}}</string>
				<key>sourceSize</key>
				<string>{333,295}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>tricktreatUi.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>tricktreatUi.png</string>
		</dict>
	</dict>
</plist>
