<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Andarwins.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,942},{928,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{928,232}</string>
			</dict>
			<key>a_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,504},{138,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,55}</string>
			</dict>
			<key>Baharwins.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,934},{923,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{923,216}</string>
			</dict>
			<key>bg_1835.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1835,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1835,750}</string>
			</dict>
			<key>btn_addcash.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,934},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>btn_andar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,357},{191,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,89}</string>
			</dict>
			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,841},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>btn_hz.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1024},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>btn_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,841},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_plus_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,841},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_plus_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,841},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_plus_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,841},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,841},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_reduce_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1861},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_reduce_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1954},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>btn_skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,552},{191,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,89}</string>
			</dict>
			<key>btn_skip_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,646},{191,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,89}</string>
			</dict>
			<key>btn_tc.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1114},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>btn_wf.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1204},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>B_bahar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1934,747},{191,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,89}</string>
			</dict>
			<key>b_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,756},{138,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,55}</string>
			</dict>
			<key>DealingCards.png</key>
			<dict>
				<key>frame</key>
				<string>{{1982,2},{351,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,55}</string>
			</dict>
			<key>firstbet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,317},{222,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,46}</string>
			</dict>
			<key>gamestartingin5s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,2},{498,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,55}</string>
			</dict>
			<key>img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,543},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>suer_head_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1874},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>talk_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,2},{311,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{311,78}</string>
			</dict>
			<key>user_head_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1861},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>user_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1874},{127,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,179}</string>
			</dict>
			<key>zimu_bg.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,317},{7,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>adrLobby.png</string>
			<key>realTextureFileName</key>
			<string>adrLobby.png</string>
			<key>size</key>
			<string>{2041,2045}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2041</integer>
			<key>height</key>
			<integer>2045</integer>
		</dict>
	</dict>
</plist>