<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,2},{199,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,678}</string>
			</dict>
			<key>bg_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1362,619}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1362,619}</string>
			</dict>
			<key>btn_gz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1316},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>btn_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1205},{97,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,60}</string>
			</dict>
			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1320},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1320},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1288},{207,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,53}</string>
			</dict>
			<key>inner_bg.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1984},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>ty_bg_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1368},{883,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{883,553}</string>
			</dict>
			<key>ty_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1205},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>ty_btn_Okay.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1925},{251,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,89}</string>
			</dict>
			<key>title_andar.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1925},{272,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,49}</string>
			</dict>
			<key>sel_btn_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1316},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>sel_btn_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1269},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1978},{2,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2,44}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2001},{757,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{757,44}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1925},{477,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,72}</string>
			</dict>
			<key>bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,2},{1199,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1199,97}</string>
			</dict>
			<key>btn_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1205},{171,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>andeerCommon.png</string>
			<key>realTextureFileName</key>
			<string>andeerCommon.png</string>
			<key>size</key>
			<string>{1016,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>