<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fangkuai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,225},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai11.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,447},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai12.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,669},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai13.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,891},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1113},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1335},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1557},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1779},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,3},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,225},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,447},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>fangkuai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,669},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,891},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao10.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1113},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao11.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1335},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao12.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1557},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao13.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1779},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,3},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,225},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,447},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,669},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,891},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1113},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1335},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>heitao9.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1557},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1779},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin10.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,3},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin11.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,225},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin12.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,447},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin13.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,669},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,891},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1113},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1335},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1557},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin6.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1779},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,3},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin8.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,225},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>hongxin9.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,447},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,669},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua10.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,891},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua11.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1113},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua12.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1335},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua13.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1557},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1779},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,3},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,225},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua5.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,447},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua6.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,669},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua7.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,891},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua8.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1113},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>meihua9.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1335},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>w_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1557},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
			<key>w_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1779},{168,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,216}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pukepai.png</string>
			<key>realTextureFileName</key>
			<string>pukepai.png</string>
			<key>size</key>
			<string>{1044,1998}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1044</integer>
			<key>height</key>
			<integer>1998</integer>
		</dict>
	</dict>
</plist>