<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BP_jdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{1053,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,124},{1053,16}}</string>
				<key>sourceSize</key>
				<string>{1053,16}</string>
			</dict>
			<key>BP_jdt_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{1059,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,101},{1059,22}}</string>
				<key>sourceSize</key>
				<string>{1059,22}</string>
			</dict>
			<key>BP_kuang_renwudi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,651},{332,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,651},{332,86}}</string>
				<key>sourceSize</key>
				<string>{332,86}</string>
			</dict>
			<key>BP_kuang_rwd.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,991},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{221,991},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>
			<key>DT_icon_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,600},{47,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{428,600},{47,40}}</string>
				<key>sourceSize</key>
				<string>{47,40}</string>
			</dict>
			<key>JP_tc_dk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{880,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,141},{880,46}}</string>
				<key>sourceSize</key>
				<string>{880,46}</string>
			</dict>
			<key>JP_tc_dk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{880,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,188},{880,84}}</string>
				<key>sourceSize</key>
				<string>{880,84}</string>
			</dict>
			<key>SGKH_line_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,141},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1037,141},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>SGKH_line_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,520},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,520},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>SGKH_line_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,650},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,650},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>SGKH_line_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,325},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,325},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>SGKH_line_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,271},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1072,271},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>SGKH_line_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,206},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1037,206},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>SGKH_line_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,390},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1041,390},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>SGKH_line_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,585},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,585},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>SGKH_line_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,455},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1041,455},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>baolong.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,486},{206,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{513,486},{206,155}}</string>
				<key>sourceSize</key>
				<string>{206,155}</string>
			</dict>
			<key>baoshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,642},{176,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{604,642},{176,154}}</string>
				<key>sourceSize</key>
				<string>{176,154}</string>
			</dict>
			<key>bet_diban.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,651},{187,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{333,651},{187,75}}</string>
				<key>sourceSize</key>
				<string>{187,75}</string>
			</dict>
			<key>biaoti_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{599,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,273},{599,72}}</string>
				<key>sourceSize</key>
				<string>{599,72}</string>
			</dict>
			<key>bottom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1560,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1560,100}}</string>
				<key>sourceSize</key>
				<string>{1560,100}</string>
			</dict>
			<key>bt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,738},{279,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{324,738},{279,91}}</string>
				<key>sourceSize</key>
				<string>{279,91}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,325},{73,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{933,325},{73,82}}</string>
				<key>sourceSize</key>
				<string>{73,82}</string>
			</dict>
			<key>btn_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,892},{279,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{295,892},{279,91}}</string>
				<key>sourceSize</key>
				<string>{279,91}</string>
			</dict>
			<key>btn_qus.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,722},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{870,722},{69,71}}</string>
				<key>sourceSize</key>
				<string>{69,71}</string>
			</dict>
			<key>cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,642},{73,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{521,642},{73,79}}</string>
				<key>sourceSize</key>
				<string>{73,79}</string>
			</dict>
			<key>cash.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,738},{323,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,738},{323,70}}</string>
				<key>sourceSize</key>
				<string>{323,70}</string>
			</dict>
			<key>deng.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,273},{154,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{778,273},{154,149}}</string>
				<key>sourceSize</key>
				<string>{154,149}</string>
			</dict>
			<key>ditu.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,581},{150,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{781,581},{150,140}}</string>
				<key>sourceSize</key>
				<string>{150,140}</string>
			</dict>
			<key>down.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,942},{88,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{763,942},{88,68}}</string>
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,942},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{852,942},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>free.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,273},{177,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{600,273},{177,162}}</string>
				<key>sourceSize</key>
				<string>{177,162}</string>
			</dict>
			<key>futou.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,423},{143,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{897,423},{143,141}}</string>
				<key>sourceSize</key>
				<string>{143,141}</string>
			</dict>
			<key>good_luck.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{356,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,600},{356,50}}</string>
				<key>sourceSize</key>
				<string>{356,50}</string>
			</dict>
			<key>grand_jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,984},{220,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,984},{220,34}}</string>
				<key>sourceSize</key>
				<string>{220,34}</string>
			</dict>
			<key>grand_jackpot_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,486},{512,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,486},{512,113}}</string>
				<key>sourceSize</key>
				<string>{512,113}</string>
			</dict>
			<key>img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,830},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{478,830},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,830},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{419,830},{58,52}}</string>
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,436},{176,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{720,436},{176,144}}</string>
				<key>sourceSize</key>
				<string>{176,144}</string>
			</dict>
			<key>jackpot_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{546,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,346},{546,139}}</string>
				<key>sourceSize</key>
				<string>{546,139}</string>
			</dict>
			<key>laoyin.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,830},{187,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{575,830},{187,160}}</string>
				<key>sourceSize</key>
				<string>{187,160}</string>
			</dict>
			<key>line9.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,141},{103,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{933,141},{103,183}}</string>
				<key>sourceSize</key>
				<string>{103,183}</string>
			</dict>
			<key>major.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,991},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,991},{72,22}}</string>
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>major_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,892},{294,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,892},{294,89}}</string>
				<key>sourceSize</key>
				<string>{294,89}</string>
			</dict>
			<key>minor.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,600},{70,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{357,600},{70,25}}</string>
				<key>sourceSize</key>
				<string>{70,25}</string>
			</dict>
			<key>minor_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,809},{309,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,809},{309,82}}</string>
				<key>sourceSize</key>
				<string>{309,82}</string>
			</dict>
			<key>spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,830},{108,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{310,830},{108,49}}</string>
				<key>sourceSize</key>
				<string>{108,49}</string>
			</dict>
			<key>tx_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,565},{133,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{940,565},{133,454}}</string>
				<key>sourceSize</key>
				<string>{133,454}</string>
			</dict>
			<key>up.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,722},{88,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{781,722},{88,68}}</string>
				<key>sourceSize</key>
				<string>{88,68}</string>
			</dict>
			<key>wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,797},{176,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{763,797},{176,144}}</string>
				<key>sourceSize</key>
				<string>{176,144}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,984},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,984},{60,31}}</string>
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>explorerSlotsUi.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>explorerSlotsUi.png</string>
		</dict>
	</dict>
</plist>
