<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>icon_8.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{309,233}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{309,233}}</string>
<key>sourceSize</key>
<string>{309,233}</string>
</dict>
<key>icon_6.png</key>
<dict>
<key>frame</key>
<string>{{0,234},{281,240}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{281,240}}</string>
<key>sourceSize</key>
<string>{281,240}</string>
</dict>
<key>icon_11.png</key>
<dict>
<key>frame</key>
<string>{{310,0},{264,216}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{264,216}}</string>
<key>sourceSize</key>
<string>{264,216}</string>
</dict>
<key>icon_10.png</key>
<dict>
<key>frame</key>
<string>{{0,475},{264,243}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{264,243}}</string>
<key>sourceSize</key>
<string>{264,243}</string>
</dict>
<key>icon_7.png</key>
<dict>
<key>frame</key>
<string>{{282,265},{264,216}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{264,216}}</string>
<key>sourceSize</key>
<string>{264,216}</string>
</dict>
<key>icon_9.png</key>
<dict>
<key>frame</key>
<string>{{527,0},{264,216}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{264,216}}</string>
<key>sourceSize</key>
<string>{264,216}</string>
</dict>
<key>icon_3.png</key>
<dict>
<key>frame</key>
<string>{{499,265},{239,216}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{239,216}}</string>
<key>sourceSize</key>
<string>{239,216}</string>
</dict>
<key>icon_2.png</key>
<dict>
<key>frame</key>
<string>{{499,482},{231,213}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{231,213}}</string>
<key>sourceSize</key>
<string>{231,213}</string>
</dict>
<key>icon_1.png</key>
<dict>
<key>frame</key>
<string>{{0,719},{219,195}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{219,195}}</string>
<key>sourceSize</key>
<string>{219,195}</string>
</dict>
<key>icon_5.png</key>
<dict>
<key>frame</key>
<string>{{265,530},{219,210}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{219,210}}</string>
<key>sourceSize</key>
<string>{219,210}</string>
</dict>
<key>icon_4.png</key>
<dict>
<key>frame</key>
<string>{{744,0},{212,209}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{212,209}}</string>
<key>sourceSize</key>
<string>{212,209}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>symbols.png</string>
<key>textureFileName</key>
<string>symbols.png</string>
<key>size</key>
<string>{953,914}</string>
</dict>
</dict>
</plist>
