<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{165,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{329,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{493,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{657,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{821,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{985,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1149,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1313,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1477,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,150}</string>
                <key>textureRect</key>
                <string>{{1641,1},{162,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pl_icon_image.png</string>
            <key>size</key>
            <string>{1804,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788c7baa866c62c857fbcbab41514d05:4586259f58fe1f0901eff59d68dca509:116cddbaeaec3956cc7bd62f2a8bb7ef$</string>
            <key>textureFileName</key>
            <string>pl_icon_image.png</string>
        </dict>
    </dict>
</plist>
